{% if (settings['revcheckout_country'] or settings['revcheckout_region'] or settings['revcheckout_index'] or settings['revcheckout_city'] or settings['revcheckout_adres'] or custom_fields) %} 
	<div {{ not is_shipping ? 'class="hide"' : '' }}>
		<div class="col-sm-12 ship_metod">
			<div class="panel panel-default">
				<div class="panel-heading">
					 <h3 class="panel-title">{{ text_revcheckout_address }}</h3>
				</div>
				<div class="panel-body">
					{% if (addresses and settings['revcheckout_reg_adres']) %} 
						{% if (customer_id) %} 
							{% if (address_1 is defined and city is defined and zone is defined and country is defined) %} 
								<div class="radio">
									<label class="input"><input type="radio" name="address" value="existing" {{ not new_address ? 'checked="checked"' : '' }} onclick="$('#payment-address-new').hide();" id="payment_address" /><span></span><span>{{ text_address_existing }}</span></label>
								</div>
								<div id="payment-existing">
									{% for address in addresses %} 
										<input type="hidden" name="address_id" value="{{ address['address_id'] }}" />
										{% if (address['firstname'] != '' or address['lastname'] != '') %} 
											{{ address['firstname'] }} {{ address['lastname'] }}<br>
										{% endif %} 
										{% if (address['postcode'] != '') %} 
											{{ address['postcode'] }}, 
										{% endif %} 
										{% if (address['zone'] != '') %} 
											{{ address['zone'] }}, 
										{% endif %} 
										{% if (address['city'] != '') %} 
											{{ address['city'] }}, 
										{% endif %} 
										{% if (address['address_1'] != '') %} 
											{{ address['address_1'] }} 
										{% endif %} 
									{% endfor %} 
								</div>
							{% else %} 
								<script><!--
									$(document).ready(function() {
										$('#new_payment_address').trigger('click');
									});
								--></script>
							{% endif %} 
						{% endif %} 
						{% if (customer_id) %} 
							<div class="radio">
								<label class="input"><input type="radio" name="address" value="new" {{ new_address ? 'checked="checked"' : '' }} onclick="$('#payment-address-new').show();" id="new_payment_address"/><span></span><span>{{ text_revcheckout_address_new }}</span></label>
							</div>
						{% endif %} 
					{% endif %} 
					<div class="row">
						<div id="payment-address-new" {% if (customer_id and addresses and not new_address and settings['revcheckout_reg_adres']) %} style="display:none"{% endif %}>
							<input type="hidden" name="company" value="" />
							<input type="hidden" name="company_id" value="" />
							<input type="hidden" name="tax_id" value="" />
							<input type="hidden" name="default" value="" />
							{% if (settings['revcheckout_country']) %} 
								<div class="form-group {% if (settings['revcheckout_country'] == '2') %}required{% endif %}">
									<label class="col-xs-5 t-ar control-label">{{ entry_country }}:</label>
									<div class="col-xs-7">
										<select name="country_id" id="input-revcheckout_country" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for country in countries %} 
											{% if (country['country_id'] == country_id) %} 
											<option value="{{ country['country_id'] }}" selected="selected">{{ country['name'] }}</option>
											{% else %} 
											<option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
											{% endif %} 
											{% endfor %} 
										</select>
									</div>
								</div>
							{% else %} 
								<select name="country_id" style="display: none;">
									<option value="{{ config_country_id }}" selected="selected"></option>
								</select>
								<!--<input type="hidden" name="country_id" value="" />-->
							{% endif %} 
							{% if (settings['revcheckout_region']) %} 
								<div class="form-group {% if (settings['revcheckout_region'] == '2') %}required{% endif %}">
									<label class="col-xs-5 t-ar control-label">{{ text_revcheckout_region }}:</label>
									<div class="col-xs-7">
										<select name="zone_id" id="input-payment-zone" class="form-control"></select>
									</div>
								</div>
							{% else %} 
								<input type="hidden" name="zone_id" value="" />
							{% endif %} 
							{% if (settings['revcheckout_index']) %} 
								<div class="form-group {% if (settings['revcheckout_index'] == '2') %}required{% endif %}">
									<label class="col-xs-5 t-ar control-label">{{ entry_postcode }}:</label>
									<div class="col-xs-7">
										<input type="text" name="postcode" value="{% if (postcode is defined) %} {{ postcode }}{% endif %}" class="form-control" />
									</div>
								</div>
							{% else %} 
								<input type="hidden" name="postcode" value="" />
							{% endif %} 
							{% if (settings['revcheckout_city']) %} 
								<div class="form-group {% if (settings['revcheckout_city'] == '2') %}required{% endif %}">
									<label class="col-xs-5 t-ar control-label">{{ entry_city }}:</label>
									<div class="col-xs-7">
										<input type="text" name="city" value="{% if (city is defined) %} {{ city }}{% endif %}" class="form-control" />
									</div>
								</div>
							{% else %} 
								<input type="hidden" name="city" value="" />
							{% endif %} 
							{% if (settings['revcheckout_adres']) %} 
								<div class="form-group {% if (settings['revcheckout_adres'] == '2') %}required{% endif %}">
									<label class="col-xs-5 t-ar control-label">{{ entry_address_1 }}:</label>
									<div class="col-xs-7">
										<input type="text" name="address_1" value="{% if (address_1 is defined) %} {{ address_1 }}{% endif %}" class="form-control" />
									</div>
								</div>
							{% else %} 
								<input type="hidden" name="address_1" value="" />
							{% endif %} 
							{% if (custom_fields is defined) %} 
								{% for custom_field in custom_fields %} 
									{% if (custom_field['location'] == 'address') %} 
										{% if (custom_field['type'] == 'select') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<select name="custom_field[address][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control">
														<option value="">{{ text_select }}</option>
														{% for custom_field_value in custom_field['custom_field_value'] %} 
															<option value="{{ custom_field['name']~': '~custom_field_value['name'] }}">{{ custom_field_value['name'] }}</option>
														{% endfor %} 
													</select>
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'radio') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
														{% for custom_field_value in custom_field['custom_field_value'] %} 
															<div class="radio">
																<label class="input"><input type="radio" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['name']~': '~custom_field_value['name'] }}" /><span></span><span>{{ custom_field_value['name'] }}</span></label>
															</div>
														{% endfor %} 
													</div>
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'checkbox') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<div id="input-custom-field{{ custom_field['custom_field_id'] }}">
														{% for custom_field_value in custom_field['custom_field_value'] %} 
															<div class="checkbox">
																<label class="input"><input type="checkbox" name="custom_field[address][{{ custom_field['custom_field_id'] }}][]" value="{{ custom_field['name']~': '~custom_field_value['name'] }}" /><span></span><span>{{ custom_field_value['name'] }}</span></label>
															</div>
														{% endfor %} 
													</div>
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'text') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<input type="text" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="" placeholder="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %} />
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'textarea') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<textarea name="custom_field[address][{{ custom_field['custom_field_id'] }}]" rows="3" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" placeholder="{{ custom_field['value'] }}" {% if (custom_field['mask']) %} data-mask="{{ custom_field['mask'] }}" {% endif %}></textarea>
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'file') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<button type="button" id="button-shipping-custom-field{{ custom_field['custom_field_id'] }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
													<input type="hidden" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" />
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'date') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<input type="date" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'datetime') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<input type="datetime-local" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
												</div>
											</div>
										{% endif %} 
										{% if (custom_field['type'] == 'time') %} 
											<div class="form-group{{ custom_field['required'] ? ' required' : '' }} custom-field">
												<label class="col-xs-5 t-ar control-label" for="input-custom-field{{ custom_field['custom_field_id'] }}">{{ custom_field['name'] }}:</label>
												<div class="col-xs-7">
													<input type="time" name="custom_field[address][{{ custom_field['custom_field_id'] }}]" value="{{ custom_field['value'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class="form-control" />
												</div>
											</div>
										{% endif %} 
									{% endif %} 
								{% endfor %} 
							{% endif %} 
						</div>
						<div class="col-xs-12 visible-xs visible-sm" style="height:20px"></div>
					</div>
					<script><!--
						$(document).ready(function() {
							$('select[name=\'country_id\']').trigger('change');
						});
						$('select[name=\'customer_group_id\']').on('change', function() {
							update_checkout();
						});
						$('[name=\'zone_id\']').on('change', function() {
							setTimeout(function() {
								update_checkout();
							}, 300);
						});
						$('select[name=\'country_id\']').on('change', function() {
							var data = $('select[name=\'country_id\']').val();
							$.ajax({
								url: 'index.php?route=revolution/revcheckout/country&country_id='+data,
								dataType: 'json',          
								success: function(json) {
									html = '<option value="">{{ text_select }}</option>';
									selected = false;
									if (json['zone'] && json['zone'] != '') {
										for (i = 0; i < json['zone'].length; i++) {
											html += '<option value="' + json['zone'][i]['zone_id'] + '"';
											if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
												html += ' selected="selected"';
												selected = true;
											}
											html += '>' + json['zone'][i]['name'] + '</option>';
										}
									}
									$('select[name=\'zone_id\']').html(html);
									if (!selected) {
										$('select[name=\'zone_id\']').val("");
									}
								},
								error: function(xhr, ajaxOptions, thrownError) {
									alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
								}
							});
						});
					--></script>
					</div>
			</div>
		</div>
	</div>
{% endif %} 