<nav id="column-left">
  <div id="navigation"><span class="fa fa-bars"></span> {{ text_navigation }}</div>
  <ul id="menu">

				<li id="revtheme"><a href="#collapse_revall" data-toggle="collapse" class="parent collapsed"><i class="fa fa-registered fa-fw"></i> <span>{{ text_revtheme }}</span></a>
					<ul id="collapse_revall" class="collapse">
						<li><a href="{{ revtheme_setting }}">{{ text_revtheme_setting }}</a></li>
						<li><a href="{{ revfilter }}">{{ text_revfilter }}</a></li>
						<li><a href="{{ producttab }}">{{ text_product_tab }}</a></li>
						<li><a href="{{ producttextblocks }}">{{ text_product_textblocks }}</a></li>
						<li><a href="{{ revpopupphone }}">{{ text_revpopupphone }}</a></li>
						<li><a href="{{ href_revanswers }}">{{ text_revanswers }}</a></li>
						<li><a href="{{ revsubscribe }}">{{ text_revsubscribe }}</a></li>
						<li id="revblog"><a href="#collapse_revnews" data-toggle="collapse" class="parent collapsed"><span>{{ text_revblog }}</span></a>
							<ul id="collapse_revnews" class="collapse">
								<li><a href="{{ revblog_setting }}">{{ text_revblog_setting }}</a></li>
								<li><a href="{{ revblog_category_list }}">{{ text_revblog_category_list }}</a></li>
								<li><a href="{{ revblog_list }}">{{ text_revblog_list }}</a></li>
								<li><a href="{{ revblog_reviews }}">{{ text_revblog_reviews }}</a></li>
							</ul>
						</li>
					</ul>
				</li>
			
    {% set i = 0 %}
    {% for menu in menus %}
    <li id="{{ menu.id }}">{% if menu.href %}<a href="{{ menu.href }}"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed"><i class="fa {{ menu.icon }} fw"></i> {{ menu.name }}</a>{% endif %}
      {% if menu.children %}
      <ul id="collapse{{ i }}" class="collapse">
        {% for children_1 in menu.children %}
        <li>{% if children_1.href %}<a href="{{ children_1.href }}">{{ children_1.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed">{{ children_1.name }}</a>{% endif %}
          {% if children_1.children %}
          <ul id="collapse{{ i }}" class="collapse">
            {% for children_2 in children_1.children %}
            <li>{% if children_2.href %}<a href="{{ children_2.href }}">{{ children_2.name }}</a>{% else %}<a href="#collapse{{ i }}" data-toggle="collapse" class="parent collapsed">{{ children_2.name }}</a>{% endif %}
              {% if children_2.children %}
              <ul id="collapse{{ i }}" class="collapse">
                {% for children_3 in children_2.children %}
                <li><a href="{{ children_3.href }}">{{ children_3.name }}</a></li>
                {% endfor %}
              </ul>
              {% endif %} </li>
            {% set i = i + 1 %}
            
            {% endfor %}
          </ul>
          {% endif %}</li>
        {% set i = i + 1 %}
        {% endfor %}
      </ul>
      {% endif %}</li>
    {% set i = i + 1 %}
    {% endfor %}
  </ul>
  <div id="stats">
    <ul>
      <li>
        <div>{{ text_complete_status }} <span class="pull-right">{{ complete_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ complete_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete_status }}%"> <span class="sr-only">{{ complete_status }}%</span></div>
        </div>
      </li>
      <li>
        <div>{{ text_processing_status }} <span class="pull-right">{{ processing_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ processing_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processing_status }}%"> <span class="sr-only">{{ processing_status }}%</span></div>
        </div>
      </li>
      <li>
        <div>{{ text_other_status }} <span class="pull-right">{{ other_status }}%</span></div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ other_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ other_status }}%"> <span class="sr-only">{{ other_status }}%</span></div>
        </div>
      </li>
    </ul>
  </div>
</nav>
