{{ header }} 
<div class="container">
<div itemscope itemtype="http://schema.org/BreadcrumbList" style="display:none;">
{% set position = 1 %} {% for breadcrumb in breadcrumbs %} 
<div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
<link itemprop="item" href="{{ breadcrumb['href'] }}">
<meta itemprop="name" content="{{ breadcrumb['text'] }}" />
<meta itemprop="position" content="{{ position }}" />
</div>
{% set position = position + 1 %} {% endfor %} 
</div>
<ul class="breadcrumb"><li class="br_ellipses" style="display: none;">...</li>
{% for i,breadcrumb in breadcrumbs %} 
{% if (i+1<breadcrumbs|length) %}<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>{% else %}{% endif %} 
{% endfor %} 
<li><h1 class="inbreadcrumb">{{ heading_title }}</h1></li>
</ul>
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
      <label class="control-label" for="input-search">{{ entry_search }}:</label>
      <div class="row">
	    <div class="col-sm-12">
		<div class="row">
        <div class="col-sm-5 xs-margin-top">
          <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}" id="input-search" class="form-control" />
        </div>
        <div class="col-sm-5 xs-margin-top">
          <select name="category_id" class="form-control">
            <option value="0">{{ text_category }}</option>
            {% for category_1 in categories %} 
            {% if (category_1['category_id'] == category_id) %} 
            <option value="{{ category_1['category_id'] }}" selected="selected">{{ category_1['name'] }}</option>
            {% else %} 
            <option value="{{ category_1['category_id'] }}">{{ category_1['name'] }}</option>
            {% endif %} 
            {% for category_2 in category_1['children'] %} 
            {% if (category_2['category_id'] == category_id) %} 
            <option value="{{ category_2['category_id'] }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2['name'] }}</option>
            {% else %} 
            <option value="{{ category_2['category_id'] }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2['name'] }}</option>
            {% endif %} 
            {% for category_3 in category_2['children'] %} 
            {% if (category_3['category_id'] == category_id) %} 
            <option value="{{ category_3['category_id'] }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3['name'] }}</option>
            {% else %} 
            <option value="{{ category_3['category_id'] }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3['name'] }}</option>
            {% endif %} 
            {% endfor %} 
            {% endfor %} 
            {% endfor %} 
          </select>
        </div>
		<div class="col-sm-2 xs-margin-top">
		<input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary" />
		</div>
		</div>
		</div>
		<div class="col-sm-12">
		<div class="row">
		<div class="col-sm-5">
			{% if (not ajax_search_description) %} 
				<label class="checkbox-inline" style="padding-top: 10px;">
				{% if (description) %} 
				<input type="checkbox" name="description" value="1" id="description" checked="checked" style="margin-top: 2px;" />
				{% else %} 
				<input type="checkbox" name="description" value="1" id="description" style="margin-top: 2px;" />
				{% endif %} 
				{{ entry_description }}</label>
			{% endif %} 
		</div>
        <div class="col-sm-5">
			<label class="checkbox-inline" style="padding-top: 10px;">
			{% if (sub_category) %} 
			<input type="checkbox" name="sub_category" value="1" checked="checked" style="margin-top: 2px;" />
			{% else %} 
			<input type="checkbox" name="sub_category" value="1" style="margin-top: 2px;" />
			{% endif %} 
			{{ text_sub_category }}</label>
        </div>
		</div>
		</div>
	  </div>
      <h2>{{ text_search }}</h2>
      {% if (products) %} 
	  <meta itemprop="numberOfItems" content="{{ products|length }}" />
		<div class="well well-sm">
			<div class="row">
				{% if (not vid_grid and not vid_list and not vid_price) %} 
				{% else %} 
				<div class="col-lg-3 col-md-4 col-sm-3 hidden-xs">
						<div class="btn-group btn-group-justified">
							<div class="btn-group" {% if (not vid_grid) %}style="display:none"{% endif %}>
								<button type="button" id="grid-view" class="btn btn-default"><i class="fa fa-th"></i></button>
							</div>
							<div class="btn-group" {% if (not vid_list) %}style="display:none"{% endif %}>
								<button type="button" id="list-view" class="btn btn-default"><i class="fa fa-th-list"></i></button>
							</div>
							<div class="btn-group" {% if (not vid_price) %}style="display:none"{% endif %}>
								<button type="button" id="price-view" class="btn btn-default"><i class="fa fa-align-justify"></i></button>
							</div>
						</div>
				</div>
				{% endif %} 
				{% if (not vid_grid and not vid_list and not vid_price) %} 
				<div class="col-lg-9 col-md-9 col-sm-8">
				{% else %} 
				<div class="col-lg-6 col-md-5 col-sm-5">
				{% endif %} 
					<div class="input-group">
						<span class="input-group-addon" ><i class="fa fa-sort-amount-asc"></i><span class="hidden-xs hidden-sm hidden-md"> {{ text_sort }}</span></span>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							{% for sorts in sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
							<option value="{{ sorts['href'] }}" selected="selected">{{ sorts['text'] }}</option>
							{% else %}
							<option value="{{ sorts['href'] }}">{{ sorts['text'] }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
				<br class="visible-xs">
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-eye"></i><span class="hidden-xs hidden-sm hidden-md"> {{ text_limit }}</span></span>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
							{% for limits in limits %} 
							{% if (limits['value'] == limit) %} 
							<option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
							{% else %} 
							<option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
							{% endif %} 
							{% endfor %} 
						</select>
					</div>
				</div>
			</div>
        </div>
      <br />
      <div class="row products_category">
{% for product in products %} 
<div class="product-layout product-list col-xs-12">
	<div class="product-thumb product_{{ product['product_id'] }}" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
		<div class="image">
			{% if (product['product_in_cart']) %} 
				<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>
			{% endif %} 
			{% if (img_slider) %}		
				<div class="image owl-carousel owlproduct">
					<div class="item text-center">
						<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" itemprop="image" /></a>
					</div>			
					{% if (product['images']) %} 
						{% for image in product['images'] %} 
							<!--noindex-->
							<div class="item text-center">
								<a href="{{ product['href'] }}"><img src="{{ image['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" rel="nofollow" /></a>
							</div>
							<!--/noindex-->
						{% endfor %} 
					{% endif %} 
				</div>
			{% else %} 
				<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" itemprop="image" /></a>
			{% endif %} 
			{% if (stikers_status) %} 
				<div class="stiker_panel">
					{% if ((product['quantity'] > 0 and product['price_number'] != 0) or zakaz) %} 
						{% if (product['stiker_spec']) %} 
							{% if (product['special']) %} 
								<span class="stiker stiker_spec"><span>{{ '- ' ~ ((product.price_number-product.special_number)/product.price_number*100)|round ~ '%' }}</span></span>
							{% else %} 
								<span class="hidden special_no_format{{ product['product_id'] }}"></span>
							{% endif %} 
						{% else %} 
							<span class="hidden special_no_format{{ product['product_id'] }}"></span>
						{% endif %} 
					{% else %} 
						<span class="special_no_format{{ product['product_id'] }}" style="display:none"></span>
					{% endif %} 
					{% if (product['stiker_best']) %} 
						<span class="stiker stiker_best">{{ text_catalog_stiker_best }}</span>
					{% endif %} 
					{% if (product['stiker_last']) %} 
						<span class="stiker stiker_last">{{ text_catalog_stiker_last }}</span>
					{% endif %} 
					{% if (product['stiker_sklad_status']) %} 
						<span class="stiker stiker_netu">{{ product['stiker_sklad_status'] }}</span>
					{% elseif (product['stiker_stock']) %} 
						{% if (product['price_number'] == 0 and not zakaz_price_null) %} 
							<span class="stiker stiker_netu">{{ text_catalog_stiker_netu_2 }}</span>
						{% elseif (product['quantity'] < 1 and product['price_number'] > 0 and not zakaz) %} 
							<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
						{% elseif (product['quantity'] < 1 and not zakaz and zakaz_price_null) %} 
							<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
						{% elseif (product['quantity'] < 1 and zakaz and not zakaz_price_null) %} 
							<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
						{% elseif (product['quantity'] < 1 and zakaz and zakaz_price_null) %} 
							<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
						{% endif %} 
					{% endif %} 
					{% if (product['stiker_upc']) %} 
						<span class="stiker stiker_user">{{ product['stiker_upc'] }}</span>
					{% endif %} 
					{% if (product['stiker_ean']) %} 
						<span class="stiker stiker_user">{{ product['stiker_ean'] }}</span>
					{% endif %} 
					{% if (product['stiker_jan']) %} 
						<span class="stiker stiker_user">{{ product['stiker_jan'] }}</span>
					{% endif %} 
					{% if (product['stiker_isbn']) %} 
						<span class="stiker stiker_user">{{ product['stiker_isbn'] }}</span>
					{% endif %} 
					{% if (product['stiker_mpn']) %} 
						<span class="stiker stiker_user">{{ product['stiker_mpn'] }}</span>
					{% endif %} 
				</div>
			{% endif %} 
			{% if (revpopuporder or popup_view or ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod'])) %} 
				<div class="fapanel {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'rev_wish_srav_prod' }} {% endif %}">		
					{% if ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod']) %} 
						{% if (rev_wish_prod) %} 
							<div class="wishlist">
								<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
							</div>
						{% endif %} 
						{% if (rev_srav_prod) %} 
							<div class="compare">
								<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
							</div>
						{% endif %} 
					{% endif %} 
					{% if (popup_view) %} 
						<div class="lupa">
							<a onclick="get_revpopup_view('{{ product['product_id'] }}');"><i data-toggle="tooltip" {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'data-placement="left"' }} {% endif %} title="{{ text_catalog_revpopup_view }}" class='fa fa-border fa-eye'></i></a>
						</div>
					{% endif %} 
					{% if (product['quantity'] > 0 or zakaz) %} 
						{% if (revpopuporder) %} 
							{% if (product['price_number'] > 0 or zakaz_price_null) %} 
								<div class="zakaz">
									<a onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i data-toggle="tooltip" {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'data-placement="left"' }} {% endif %} title="{{ text_catalog_revpopup_purchase }}" class='fa fa-border fa-gavel'></i></a>
								</div>
							{% endif %} 
						{% endif %} 
					{% endif %} 
				</div>
			{% endif %} 
		</div>
		<div class="caption product-info clearfix">
			<h4><a href="{{ product['href'] }}"><span itemprop="name">{{ product['name'] }}</span></a></h4>
			<link itemprop="url" href="{{ product['href'] }}" />
			{% if (product['rating']) %} 
			<div class="rating">
				<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
					<meta itemprop="worstRating" content = "1">
					<meta itemprop="bestRating" content = "5">
					<meta itemprop="ratingValue" content = "{{ product['rating'] }}">
					<meta itemprop="reviewCount" content = "{{ product['reviews'] }}">
					{% set i = 1 %}{% for i in i..5 %} 
					{% if (product['rating'] < i) %} 
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					{% else %} 
					<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
					{% endif %} 
					{% endfor %} 
				</span>  
			</div>
			{% endif %} 
			<div class="description_options">
			<div class="description {{ product['options'] and product['options_buy'] ? 'description_options_buy_price' : '' }}">
				{% if (description_options['short_desc'] and product['short_description']) %} 
					<div class="short_description">{{ product['short_description'] }}</div>
				{% endif %} 
				{{ product['description'] }} 
				{% if (not description_options['zamena_description']) %}<span class="hidden pr_quantity_{{ product['product_id'] }}"></span>{% endif %} 
			</div>
			{% if (revtheme_product_all['options_buy'] and product['options'] and product['options_buy']) %} 
				<div class="well well-sm product-info options_buy">
					<div id="option_{{ product['product_id'] }}" class="options">
						<div class="form-group">
							{% if (revtheme_product_all['options_buy_optionname_one']) %} 
								<label class="control-label options_buy_label">{% for option in product['options'] %}{{ option['name'] }}:{% endfor %}</label>
							{% else %} 
								<label class="control-label options_buy_label">{{ text_option_option }}:</label>
							{% endif %} 
							<select class="form-control" onchange="get_product_option_id('{{ product['product_id'] }}')" name="" id="soption_{{ product['product_id'] }}">
									{% for option in product['options'] %} 
										{% if (revtheme_product_all['options_buy_optionname']) %} 
											<optgroup label="{{ option['name'] }}:" >
										{% endif %} 
										{% for option_value in option['product_option_value'] %} 
											{% if (option_value['price'] > 0 and option_value['quantity'] > 0) %} 
												<option product_option_id="{{ option['product_option_id'] }}" value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
												{% if (opt_price) %} 
													{% if (option_value['price']) %} 
													<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
													{% endif %} 
												{% endif %} 
												</option>
											{% endif %} 
										{% endfor %} 
										{% if (revtheme_product_all['options_buy_optionname']) %} 
											</optgroup>
										{% endif %} 
									{% endfor %} 
							</select>
						</div>
					</div>
				</div>
				<script><!--
				$('.options_buy select.form-control option:nth-child(1)').attr('selected', 'selected');
				$( document ).ready(function() {
					get_product_option_id ({{ product['product_id'] }});
				});
				function get_product_option_id (product_id) {
					var sel_option_id = document.getElementById('soption_'+product_id);
					var option_id = sel_option_id.options[sel_option_id.selectedIndex].getAttribute('product_option_id');
					sel_option_id.setAttribute('name', 'option['+option_id+']');
					update_prices_product(product_id,1);
				}
				--></script>
			{% elseif (product['options']) %} 
				<div class="well well-sm product-info">
					<div id="option_{{ product['product_id'] }}" class="options">
					{% for option in product['options'] %} 
						{% if (option['type'] == 'select') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
								<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
								<div id="input-option{{ option['product_option_id'] }}">
									<select onchange="update_prices_product({{ product['product_id'] }},{{ product['minimum'] }});" name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
										<option value="">{{ text_select }}</option>
										{% for option_value in option['product_option_value'] %} 
											<option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
												{% if (opt_price) %} 
													{% if (option_value['price']) %} 
														<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
													{% endif %} 
												{% endif %} 
											</option>
										{% endfor %} 
									</select>
								</div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'radio') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
								<label class="control-label">{{ option['name'] }}:</label>
								<div id="input-option{{ option['product_option_id'] }}">
									{% for option_value in option['product_option_value'] %} 
										<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
											<input onchange="update_prices_product({{ product['product_id'] }},{{ product['minimum'] }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
											<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
												{% if (option_value['image']) %} 
													<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
												{% else %} 
													<span>{{ option_value['name'] }}</span>
												{% endif %} 
												{% if (option_value['price']) %} 
													<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
												{% endif %} 
												<i class="fa fa-check"></i>	
											</label>
										</div>
									{% endfor %} 
								</div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'checkbox') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
								<label class="control-label">{{ option['name'] }}:</label>
								<div id="input-option{{ option['product_option_id'] }}">
									{% for option_value in option['product_option_value'] %} 
										<div class="radio checkbox{% if (option['opt_image']) %} opt_with_img{% endif %}">
											<input onchange="update_prices_product({{ product['product_id'] }},{{ product['minimum'] }});" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
											<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
												{% if (option_value['image']) %} 
													<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
												{% else %} 
													<span>{{ option_value['name'] }}</span>
												{% endif %} 
												{% if (option_value['price']) %} 
													<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
												{% endif %} 
												<i class="fa fa-check"></i>
											</label>
										</div>
									{% endfor %} 
								</div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'image') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
								<label class="control-label">{{ option['name'] }}:</label>
								<div id="input-option{{ option['product_option_id'] }}">
									{% for option_value in option['product_option_value'] %} 
										<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
											<input onchange="update_prices_product({{ product['product_id'] }},{{ product['minimum'] }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
											<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
												{% if (option_value['image']) %} 
													<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
												{% else %} 
													<span>{{ option_value['name'] }}</span>
												{% endif %} 
												{% if (option_value['price']) %} 
													<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
												{% endif %} 
												<i class="fa fa-check"></i>	
											</label>
										</div>
									{% endfor %} 
								</div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'text') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
							  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
							</div>
						{% endif %} 
						{% if (option['type'] == 'textarea') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
							  <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
							</div>
						{% endif %} 
						{% if (option['type'] == 'file') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label">{{ option['name'] }}:</label>
							  <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
							  <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
							</div>
						{% endif %} 
						{% if (option['type'] == 'date') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
							  <div class="input-group date">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
								<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
								</span></div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'datetime') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
							  <div class="input-group datetime">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span></div>
							</div>
						{% endif %} 
						{% if (option['type'] == 'time') %} 
							<div class="form-group{{ option['required'] ? ' required' : '' }}">
							  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
							  <div class="input-group time">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
								<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
								</span></div>
							</div>
						{% endif %} 
					{% endfor %} 
					</div>
				</div>
			{% endif %} 
			</div>
			<div class="product_buttons">
				{% if (revpopuporder or popup_view or ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod'])) %} 
					<div class="fapanel-price">
						{% if (product['quantity'] > 0 or zakaz) %} 
							{% if (revpopuporder) %} 
								{% if (product['price_number'] > 0 or zakaz_price_null) %} 
									<div class="zakaz">
										<a onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i data-toggle="tooltip" data-placement="top" title="{{ text_catalog_revpopup_purchase }}" class='fa fa-border fa-gavel'></i></a>
									</div>
								{% endif %} 
							{% endif %} 
						{% endif %} 
						{% if (popup_view) %} 
							<div class="lupa">
								<a onclick="get_revpopup_view('{{ product['product_id'] }}');"><i data-toggle="tooltip" data-placement="top" title="{{ text_catalog_revpopup_view }}" class='fa fa-border fa-eye'></i></a>
							</div>
						{% endif %} 
						{% if ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod']) %} 
						{% if (rev_srav_prod) %} 
							<div class="compare">
								<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
							</div>
						{% endif %} 
						{% if (rev_wish_prod) %} 
							<div class="wishlist">
								<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
							</div>
						{% endif %} 
					{% endif %} 
					</div>
				{% endif %} 
				{% if (product['price']) %} 
					{% if (product['price_number'] > 0) %} 
						{% if (product['quantity'] > 0 or zakaz) %} 
							<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							{% if (product['price_number'] > 0 or zakaz_price_null) %} 
								{% if (not product['special']) %} 
									<span class="price_no_format{{ product['product_id'] }}">{{ product['price'] }}</span>
									<meta itemprop="price" content="{{ product['price_number'] }}">
								{% else %} 
<span class="price-old special_no_format{{ product.product_id }}">{{ product['price'] }}</span>
									<span class="price-new"><span class="price_no_format{{ product['product_id'] }}">{{ product['special'] }}</span></span>
									<meta itemprop="price" content="{{ product['special_number'] }}">
								{% endif %} 
								<meta itemprop="priceCurrency" content="{{ currency_code }}">
							{% endif %} 
							</div>
						{% else %} 
							{% if (predzakaz_button) %} 
								<div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								{% if (product['price_number'] > 0 or zakaz_price_null) %} 
									{% if (not product['special']) %} 
										<span class="price_no_format{{ product['product_id'] }}">{{ product['price'] }}</span>
										<meta itemprop="price" content="{{ product['price_number'] }}">
									{% else %} 
<span class="price-old special_no_format{{ product.product_id }}">{{ product['price'] }}</span>
										<span class="price-new"><span class="price_no_format{{ product['product_id'] }}">{{ product['special'] }}</span></span>
										<meta itemprop="price" content="{{ product['special_number'] }}">
									{% endif %} 
									<meta itemprop="priceCurrency" content="{{ currency_code }}">
								{% endif %} 
								</div>
							{% else %} 
								<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
							{% endif %} 
						{% endif %} 
						{% if (ch_quantity and (product['price_number'] > 0 or zakaz_price_null) and (product['quantity'] > 0 or zakaz)) %} 
							<div class="number">
								<div class="frame-change-count">
									<div class="btn-plus">
										<button type="button" onclick="validate_pole(this,{{ product['product_id'] }},'+',{{ product['minimum'] }},{{ product['quantity'] }});">+</button>
									</div>
									<div class="btn-minus">
										<button type="button" onclick="validate_pole(this,{{ product['product_id'] }},'-',{{ product['minimum'] }},{{ product['quantity'] }});">-</button>
									</div>
								</div>
								<input type="text" name="quantity" class="plus-minus" value='{{ product['minimum'] }}' onchange="validate_pole(this);" onkeyup="validate_pole(this,{{ product['product_id'] }},'=',{{ product['minimum'] }},{{ product['quantity'] }});">
							</div>
						{% else %} 
							<div class="number bordnone"></div>
							<input type="hidden" name="quantity" class="plus-minus" value='{{ product['minimum'] }}'>
						{% endif %} 
					{% else %} 
						{% if (zakaz or zakaz_price_null) %} 
							<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
							{% if (product['price_number'] == 0 and not zakaz_price_null) %} 
							{% elseif (product['quantity'] > 0 or zakaz) %} 
								<div class="price_na_zakaz">{{ text_catalog_price_na_zakaz }}</div>
							{% endif %} 
						{% else %} 
							<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
						{% endif %} 
						<div class="number bordnone"></div>
						<input type="hidden" name="quantity" class="plus-minus" value='{{ product['minimum'] }}'>
					{% endif %} 
					<div class="clearfix"></div>
				{% endif %} 
				{% if ((rev_srav_prod or rev_wish_prod) and not setting_catalog_all['rev_wish_srav_prod']) %} 
					{% if (rev_srav_prod) %} 
						<div class="compare">
							<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
						</div>
					{% endif %} 
					{% if (rev_wish_prod) %} 
						<div class="wishlist">
							<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
						</div>
					{% endif %} 
				{% set button_cart_class = 'prlistb' %} {% else %} {% set button_cart_class = 'prlistb active' %} {% endif %}
				{% if (product['quantity'] > 0 or zakaz or predzakaz_button) %} 
					{% if (product['price_number'] > 0 or zakaz_price_null) %} 
						{% if (product['quantity'] < 1 and predzakaz_button) %} 
							<div class="cart predzakaz_cart">
								<a onclick="get_revpopup_predzakaz({{ product['product_id'] }});" {% if (button_cart_class != 'prlistb active') %}data-toggle="tooltip" title="{{ text_predzakaz }}"{% endif %}><i class="fa fa-border fa-shopping-basket predzakaz"><span class="{{ button_cart_class }}">{{ text_predzakaz }}</span></i></a>
							</div>
						{% else %} 
							<div class="cart">
								<a onclick="get_revpopup_cart({{ product['product_id'] }},'catalog',get_revpopup_cart_quantity('{{ product['product_id'] }}'));" {% if (button_cart_class != 'prlistb active') %}data-toggle="tooltip" title="{{ button_cart }}"{% endif %}><i class="fa fa-border fa-shopping-basket"><span class="{{ button_cart_class }}">{{ button_cart }}</span></i></a>
							</div>
							{% if (revpopuporder_settings['quick_btn']) %} 
								<a class="quick_btn btn btn-default btn-xs pull-right" onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i class="fa fa-hand-pointer-o"></i>{{ text_catalog_revpopup_purchase }}</a>
							{% endif %} 
						{% endif %} 
					{% endif %} 
				{% endif %} 
			</div>
		</div>
	</div>
</div>
{% endfor %} 
      </div>
      <div class="row">
		<div class="pagpages clearfix">
			<div class="col-sm-6 text-left">{{ pagination }}</div>
			<div class="col-sm-6 text-right">{{ results }}</div>
		</div>
      </div>
      {% else %} 
      <p>{{ text_empty }}</p>
      {% endif %} 
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';
	var search = $('#content input[name=\'search\']').prop('value');
	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}
	var category_id = $('#content select[name=\'category_id\']').prop('value');
	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}
	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');
	if (sub_category) {
		url += '&sub_category=true';
	}
	var filter_description = $('#content input[name=\'description\']:checked').prop('value');
	if (filter_description) {
		url += '&description=true';
	}
	location = url;
});
$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});
$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});
$('select[name=\'category_id\']').trigger('change');

{% for product in products %} {% if (product['minimum'] > 1 and recalc_price) %} 
	update_quantity({{ product['product_id'] }}, {{ product['minimum'] }});
{% endif %} {% endfor %} 
function get_revpopup_cart_quantity(product_id) {
	input_val = $('.product_'+product_id+' .plus-minus').val();
	quantity  = parseInt(input_val);
	return quantity;
}
function validate_pole(val, product_id, znak, minimumvalue, maximumvalue) {
	val.value = val.value.replace(/[^\d,]/g, '');
	if (val.value == '') val.value = minimumvalue;
	maximumvalue = Number($('.pr_quantity_'+product_id).text());
	if (maximumvalue < 1) maximumvalue = 9999;
	input_val = $('.product_'+product_id+' .plus-minus');	
	quantity = parseInt(input_val.val());
	{% if (q_zavisimost) %} 
	if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	} else if (quantity > maximumvalue) {
		input_val.val(maximumvalue);
		val.value = maximumvalue;
	}
	{% else %} 
	if(znak=='+') input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	}
	{% endif %} 
	update_quantity(product_id, input_val.val());
}
function update_quantity(product_id, quantity) {
	{% if (recalc_price) %} 
		quantity = quantity;
	{% else %} 
		quantity = 1;
	{% endif %} 
	
	data = $('.product_'+product_id+' .options input[type=\'text\'], .product_'+product_id+' .options input[type=\'hidden\'], .product_'+product_id+' .options input[type=\'radio\']:checked, .product_'+product_id+' .options input[type=\'checkbox\']:checked, .product_'+product_id+' .options select');
	$.ajax({
	  url: 'index.php?route=product/product/update_prices',
	  type: 'post',
	  dataType: 'json',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  success: function(json) {
		{% if (recalc_price) %} 
		
			{% if (description_options['zamena_description'] and description_options['weight']) %} 
				var weight = json['weight'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_weight = parseFloat($('.pr_weight_'+product_id).attr('data-weight'));
					$({val:start_weight}).animate({val:weight}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('.pr_weight_'+product_id).html(weight_format(val, product_id));
						}
					});
					$('.pr_weight_'+product_id).attr('data-weight', json['weight']);
				{% else %} 
					$('.pr_weight_'+product_id).html(weight_format(weight, product_id));
				{% endif %} 
			{% endif %} 

			{% if (stikers_status) %} 
				var price = json['price_n'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_price = parseFloat($('.special_no_format'+product_id).html().replace(/\s*/g,''));
					$({val:start_price}).animate({val:price}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('.special_no_format'+product_id).html(price_format(val));
						}
					});
				{% else %} 
					$('.special_no_format'+product_id).html(price_format(price));
				{% endif %} 
			{% endif %} 
			
			var special = json['special_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_special = parseFloat($('.price_no_format'+product_id).html().replace(/\s*/g,''));
				$({val:start_special}).animate({val:special}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('.price_no_format'+product_id).html(price_format(val));
					}
				});
			{% else %} 
				$('.price_no_format'+product_id).html(price_format(special));
			{% endif %} 
		{% endif %} 
	  }
	});
}
function update_prices_product(product_id, minimumvalue) {
	input_val = $('.product_'+product_id+' .plus-minus').val();
	if (input_val > minimumvalue) {
		input_val = minimumvalue;
		$('.product_'+product_id+' .plus-minus').val(minimumvalue);
	}
	{% if (recalc_price) %} 
	quantity = parseInt(input_val);
	{% else %} 
	quantity = 1;
	{% endif %} 
	data = $('.product_'+product_id+' .options input[type=\'text\'], .product_'+product_id+' .options input[type=\'hidden\'], .product_'+product_id+' .options input[type=\'radio\']:checked, .product_'+product_id+' .options input[type=\'checkbox\']:checked, .product_'+product_id+' .options select');
	$.ajax({
	  type: 'post',
	  url:  'index.php?route=product/product/update_prices',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  dataType: 'json',
	  success: function(json) {
		  
		{% if (img_slider) %} 
		$('.product_'+product_id+' .image .owl-item:first-child img').attr('src', json['opt_image']);
		{% else %} 
		$('.product_'+product_id+' .image img').attr('src', json['opt_image']);
		{% endif %} 
		
		{% if (description_options['zamena_description'] and description_options['model']) %} 
		$('.product_'+product_id+' .pr_model_'+product_id).html(json['opt_model']);
		{% endif %} 
	  
		var end_quantity = json['option_quantity'];
		{% if (revtheme_product_all['recalc_price_animate']) %} 
			var start_quantity = parseFloat($('.pr_quantity_'+product_id).html().replace(/\s*/g,''));
			$({val:start_quantity}).animate({val:end_quantity}, {
				duration: 500,
				easing: 'swing',
				step: function(val) {
					$('.pr_quantity_'+product_id).html(number_format(val, product_id));
				}
			});
		{% else %} 
			$('.pr_quantity_'+product_id).html(number_format(end_quantity, product_id));
		{% endif %} 

		{% if (description_options['zamena_description'] and description_options['weight']) %} 
			var weight = json['weight'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_weight = parseFloat($('.pr_weight_'+product_id).attr('data-weight'));
				$({val:start_weight}).animate({val:weight}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('.pr_weight_'+product_id).html(weight_format(val, product_id));
					}
				});
				$('.pr_weight_'+product_id).attr('data-weight', json['weight']);
			{% else %} 
				$('.pr_weight_'+product_id).html(weight_format(weight, product_id));
			{% endif %} 
		{% endif %} 
	  
		{% if (stikers_status) %} 
			var price = json['price_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_price = parseFloat($('.special_no_format'+product_id).html().replace(/\s*/g,''));
				$({val:start_price}).animate({val:price}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('.special_no_format'+product_id).html(price_format(val));
					}
				});
			{% else %} 
				$('.special_no_format'+product_id).html(price_format(price));
			{% endif %} 
		{% endif %} 
		
		var special = json['special_n'];
		{% if (revtheme_product_all['recalc_price_animate']) %} 
			var start_special = parseFloat($('.price_no_format'+product_id).html().replace(/\s*/g,''));
			$({val:start_special}).animate({val:special}, {
				duration: 500,
				easing: 'swing',
				step: function(val) {
					$('.price_no_format'+product_id).html(price_format(val));
				}
			});
		{% else %} 
			$('.price_no_format'+product_id).html(price_format(special));
		{% endif %} 
	  }
	});
}
function price_format(n) {
	c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
    d = '{{ currency['decimal_point'] }}';
    t = '{{ currency['thousand_point'] }}';
    s_left = '{{ currency['symbol_left'] }}';
    s_right = '{{ currency['symbol_right'] }}';
    n = n * {{ currency['value'] }};
    i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
    j = ((j = i.length) > 3) ? j % 3 : 0; 
    return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
}
function weight_format(n, product_id) {
    c = 2;
    d = '.';
    t = ',';
    i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
    j = ((j = i.length) > 3) ? j % 3 : 0; 
    return (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');
}
function number_format(n, product_id) {
    i = parseInt(n = Math.abs(n).toFixed(0)) + ''; 
    return i;
}
--></script>
{{ footer }}