/*style_default*/
:focus {outline: none !important;}
#block_filter_vier {margin-bottom: 6px; position: relative;}
#block_filter_vier a {cursor: pointer;}
#name_filter {width: 100%;}
#head_filter {line-height: 44px; font-size: 1.2em; margin-bottom: 6px; cursor: pointer;}
#filter_vier {margin: auto; position: relative; width: 100%;}
#filter_vier label {width: 100% !important; font-weight: 400; display: inline-block; margin-left: 0; margin-bottom: 3px; margin-right: 3px; vertical-align: middle; font-size: inherit; /*overflow: hidden;*/}
#filter_vier .qnp label {margin-top: 3px; /*margin-bottom: 0px;*/}
/*#filter_vier .blok_img label {margin-bottom: 6px;}*/
#filter_vier table {margin: 0; border-collapse: collapse; border: none !important;}
#filter_vier td {padding: 0; border: none !important;}
#filter_vier .form-control {width: 100% !important;}
#filter_vier a {text-decoration: none; word-wrap: break-word; position: relative;}
#filter_vier a:hover {text-decoration: none;}
#filter_vier tr:hover td {background: none;}
#filter_vier select {cursor: pointer;}
#filter_vier option[disabled="disabled"] {color: rgba(90, 90, 90, 0.5);}
#filter_vier option[selected="selected"] {background-color: rgba(150, 150, 150, 0.15);}
#filter_vier .select_fv:not(.act_sel) {padding-bottom: 6px;}
#filter_vier .width_10pr {width: 10%;}
#filter_vier .text_input {text-align: center; font-size: 1.2em;}
.block_fv {min-width: 130px; width: 100%; max-width: 100%; text-align: justify; position: relative; vertical-align: top;}
.block_param {margin-bottom: 6px; position: relative; vertical-align: top; text-align: left; min-width: 130px;}
.title_filter {box-shadow: none; padding-top: 6px; padding-bottom: 6px; word-break: break-word; /*word-break: break-all;*/}
.qnp .title_filter a, .qnp .count_prod:not(.total_product) {color: inherit;}
.blok {padding-left: 7px; padding-right: 7px;}
.head_group {display: inline-block; width: 100%;}
#action_get .tec_vibor {word-break: break-all; /*width: inherit;*/}
/*#action_get*/
.title_filter {display: table; width: 100%;}
.ligend_get {margin-right: 3px;}
.onli_param_get {padding-left: 7px;}
.onli_param_get:last-child {margin-bottom: 3px; padding-right: 7px;}
.onli_param_get .botton_fv {margin-bottom: 3px;}
.title_filter + .onli_param_get {margin-top: 6px;}
.delis {color: inherit; margin: 0 2px;}
.text_dia {font-weight: normal; font-size: 0.9em; display: table-cell; text-align: right;/*float: right;*/}
.text_dia a:hover {color: inherit !important;}
/*.text_dia a:visited {color: inherit;}*/
.text_dia a {padding: 1px;}
.onli_param:not(.blok_img) {padding-bottom: 3px; margin-bottom: 0px; width: 100%;}
.onli_param:not(.qnp) {padding-top: 6px;}
.onli_param.qnp {padding-top: 3px;}
.onli_param.img_fv:not(.blok_img) {}
.onli_param.blok_img {padding-bottom: 0;}
.onli_param .text_param {vertical-align: middle;}
.row_blok {vertical-align: top;}
.text_through {opacity: 0.5;}
.total_product {/*padding: 2px;*/ float: right; min-width: 25px; text-align: center; vertical-align: middle; line-height: normal;}
.actionis .total_product {visibility: hidden;}
.actionis .count_prod {visibility: hidden;}
.total_product:not(.btn_fv) {padding: 2px 3px;}
.count_1 {/*opacity: 0.7;*/}
.count_2 {/*opacity: 0.8;*/}
.count_prod {display: inline-block; position: relative; margin-left: 2px;}
.curs_def, .curs_def:hover {cursor: default !important; text-decoration: none !important; color: #999 !important;}
.curs_point {cursor: pointer;}
/*.curs_def:before {top: -1px;}*/
.curs_def.imt_a {}
.imt_a {}
.imt_p {display: inline-block;}
.hidis {display: none;}
.displ {margin: -1px 0 2px 10px; cursor: pointer;}
.unfoldi {font-size: 0.9em; border-bottom: 1px dashed; padding: 1px;}
.unfoldi:hover {cursor: pointer; border-bottom: none;}
.title_p_f {}
.title_p_f:hover {}
.arrow_n_f {}
/*end style_default*/
/*arrow*/
.curs_point .strel_hid_fa {color: inherit; margin-left: 5px; margin-right: 0; font-weight: inherit; display: table-cell; text-align: right; /*float: right; */}
.unfoldi .strel_hid_fa {margin-left: 5px; color: inherit;}
.strel_hid_fa i {font-size: inherit !important;}
.strel_fa_mob {cursor: pointer; margin-left: 5px;}
.strel_fa_mob .fa {font-size: inherit !important;}
/*end arrow*/
/*botton*/
.botton_fv {padding: 0px 3px; cursor: pointer; display: inline-block; word-wrap: break-word;}
.botton_fv:not(.bot_filt) {}
.botton_fv a {color: inherit !important; outline: none; word-break: break-all;}
.botton_fv.actionis {opacity: 0.8;}
.botton_fv.actionis:hover {opacity: 1;}
.button_slider {text-align: right;}
.css_disabled {opacity: 0.6; cursor: default;}
/*end botton*/
/*image*/
.botton_opts {display: inline-block; margin: 0 0 3px 0 !important;}
.optv .img_param, .optv .img_param_null {margin: 1px; border: 1px solid; padding: 2px;}
img.img_param_null {opacity: 0.6; cursor: default !important;}
img.img_param.actionis, img.img_param:hover {/*background-color: #000;*/ opacity: 0.6; border-radius: 50%;}
img.img_param.actionis:hover {/*background-color: #666;*/ opacity: 1; border-radius: 0;}
.manufs .img_param, .manufs .img_param_null {border: none;}
/*end image*/
/*slider*/
#left_count {text-align: left;}
#right_count {text-align: right;}
.clears {clear: both; border: none !important; padding: 0 !important; margin: 0 !important;}
.input_slider input {padding: 2px;}
.input_slider span {border-radius: 50%; padding: 5px 9px; box-shadow: 0 0 10px rgba(0,0,0,0.3); background-color: #fff;}
.symbol_sld {padding: 5px !important; text-align: center;}
.height_prim {margin-top: 3px; margin-bottom: 3px;}
.width_100_pr {width: 100%;}
.block_sl {vertical-align: middle;}
.shkala {position: relative;top: -5px;}
/*end slider*/
/*check*/
#filter_vier a:before, #filter_vier .imt_a:before {content: ""; margin: 0; display: inline-block; vertical-align: middle; /*position: relative;*/}
#filter_vier .img_fv a:before, #filter_vier .checkg:before {content: none;}
/*end check*/
/*radio*/
#filter_vier .radio_fv .checkb:before,#filter_vier .radio_fv .checka:before,#filter_vier .radio_fv .checkb:hover:not(.curs_def)::before {background-color: #fff;width: 18px;height: 18px;border-radius: 10px;border: 1px solid #ccc;	margin-right: 4px;}
#filter_vier .radio_fv .checka.actionis::before,#filter_vier .radio_fv .checkb:hover:not(.curs_def)::before {border-color: #fff;border-width: 5px;border-style: solid;border-radius: 10px;box-shadow: 1px 1px 3px rgba(0,0,0,0.3);	background-color: #4d4d4d;}
#filter_vier .radio_fv .checka.actionis::after {content: none;}
/*end radio*/
/*if you use html-tags*/
.fv_bc {background-color: white; border: 1px solid #888; border-radius: 25px; box-shadow: 0 0 2px #999; display: inline-block; height: 20px; vertical-align: top; width: 20px; position: relative;}
/*end html-tags*/
/* attrtool */
.attrtool:after {font-family: FontAwesome; color: #1E91CF; content: "\f059"; margin-left: 4px; cursor: pointer;}
/* end attrtool */
/*js label*/
#bloc_primenit {display: none; z-index: 125;}
/*ajax_bloc*/
.bloc_aj_all {background-color: #151617; border: 1px solid #ccc; border-radius: 4px; color: #fff; text-align: center; padding: 3px; vertical-align: middle;}
.aj_blc {margin: 3px; border-width: 0; border-color: inherit; border-style: solid; vertical-align: baseline;}
.aj_blc_del, .aj_bloc_btn {cursor: pointer; opacity: 1;}
.aj_blc_del:hover, .aj_bloc_btn:hover {opacity: 0.8;}
.aj_blc_del .fa {display: inherit; font-weight: inherit;}
/*end ajax_bloc*/
/*for 1*/
#block_filter_vier *::after, #block_filter_vier *::before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#block_filter_vier * {box-sizing: border-box;}
/*end for 1*/
/*fix_mobil*/
#mobil_mini{display: none;}
/*end fix_mobil*/
/* my_button */
#filter_vier .btn_fv:active{top:.1em;left:.1em;}
#filter_vier .btn_fv:hover:not(.css_disabled):not(.count_0){}
#filter_vier .btn_fv{background-color: #914c4c;border-color: #000000;color: #ffffff; vertical-align:middle;text-align:center;text-decoration:none;outline:none;padding: 2px 5px;}
#filter_vier .btn_fv.actionis{}
/* end my_button */
/*my_checkbox*/
#filter_vier .link_fv .checkb:before,#filter_vier .link_fv .checka:before{ margin-right: 4px;/*top: 0px;*/width: 18px;height: 18px;z-index: 0;}
#filter_vier .link_fv .checkb:hover:not(.curs_def):before{}
#filter_vier .link_fv .checka.actionis:before{}
/*end my_checkbox*/
/*skin_slider*/
.irs-bar{height: 5px; top: 33px;}
.irs-line{border-width: 0px; border-style: solid; border-radius: 0px; height: 5px; top: 33px;}
.irs-slider{border-width: 0px; border-style: solid; border-radius: 3px; width: 12px; height: 17px; top: 28px;}
.irs-single,.irs-from,.irs-to{border-radius: 3px; top: 0px;}
.irs-grid-pol{background: #666666;}
.irs-grid-text{color: #666666;}
.irs-grid{bottom: 0px;}
.irs {height: 57px;}
.irs-with-grid {height: 75px;}
.irs-slider {box-shadow: 1px 1px 3px rgba(0,0,0,0.3);cursor: pointer;}
.irs-from,.irs-to,.irs-single {line-height: 1.333;text-shadow: none;padding: 1px 2px;}
.irs-slider.state_hover,.irs-slider:hover {/*opacity: 0.9;*/}
.irs-line-left {height: 8px;}
.irs-line-mid {height: 8px;}
.irs-line-right {height: 8px;}
.irs-bar-edge {height: 10px; top: 33px;width: 14px;border: 1px solid #428bca;border-right: 0;background: #428bca;background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%);border-radius: 16px 0 0 16px;-moz-border-radius: 16px 0 0 16px;}
.irs-shadow {height: 2px; top: 38px;background: #000;opacity: 0.3;border-radius: 5px;-moz-border-radius: 5px;}
.lt-ie9 .irs-shadow {filter: alpha(opacity=30);}
.irs-min, .irs-max {color: #333;font-size: 12px; line-height: 1.333;text-shadow: none;top: 0;padding: 1px 5px;background: rgba(0,0,0,0.1);border-radius: 3px;-moz-border-radius: 3px;}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {background: #ccc;}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {background: #999;}
.irs-grid {height: 27px;}
.irs-grid-pol {opacity: 0.5;}
.irs-grid-pol.small {/*background: #999;*/}
.irs-grid-text {bottom: 5px;}
.irs-disabled {}
.sld_attr .irs-grid-pol.small {height: 0;}
/*end skin_slider*/
/*ajax_bloc*/
#bloc_primenit{display: none;}
.bloc_aj_all{font-weight: 400;}
.aj_bloc_txt{font-weight: 400;}
.ajx_total_prod{font-weight: 400;}
.aj_bloc_btn{font-weight: 400;}
.aj_blc_del{font-weight: 400;}
/*end ajax_bloc*/
/*main_set*/
#head_filter{font-weight: 700; color: #000000; text-align: center; background-color: #fad2d2; border-width: 1px; border-style: solid; border-color: #000000; border-top-right-radius: 5px; border-bottom-left-radius: 5px;}
.head_group{font-weight: 700; color: #000000;}
.title_filter{font-weight: 600; color: #000000; background-color: #ccb7b7; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.block_param{background-color: #ede6e6; color: #000000;}
.block_param a{color: #612525;}
.ligend_get{color: #9e3333;}
.tec_vibor{background-color: #ede6e6;}
.tec_vibor a{color: #31a39b;}
/*end main_set*/
/*mobil_versi*/
@media(max-width:767px){
#head_filter, #filter_vier .block_param {width: 100%;}
#column-left > *:not(#block_filter_vier), #column-right > *:not(#block_filter_vier) {display: none !important;}
#column-left, #column-right {position: fixed; left: 0; top: 0; width: 88%; height: 100%; /*max-width: 37.5rem;*/ z-index: 1000; overflow: auto; background: #fff; padding: 2rem; display: none;}
#mobil_mini {display: block;}
#mobil_mini i:last-child {display: none;}
#mobil_mini i:first-child {position: fixed; text-align: center; z-index: 120; top: 10%; left: 0; display: block; font-size: 2rem; width: 5rem; height: 5rem; line-height: 5rem; border-top-right-radius: 3.5rem; border-bottom-right-radius: 3.5rem;}
#mobil_mini.open_fv i:last-child {position: fixed; text-align: center; z-index: 334; top: 1rem; left: auto; right: 1rem; display: block; font-size: 3rem; border-radius: 0; width: 4rem; height: 4rem; line-height: 4rem;}
#mobil_mini.open_fv::after {content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 300;}
#mobil_mini i:first-child, #mobil_mini.open_fv i:last-child {cursor: pointer; box-shadow: 0 0 0.5rem rgba(0,0,0,.17);}
#mobil_mini i {background-color: #666; color: #fff; opacity: 0.8;}
#head_filter{display: block;}
#filter_vier{display: block;}
}
/*end mobil_versi*/
