/* scroll_images */
.onli_param.scropis:not(.slid) {overflow-x: hidden !important; overflow-y: auto !important; max-height:151px;}
.onli_param {scrollbar-width: thin; scrollbar-color: #cdcdcd #eee;}
.onli_param::-webkit-scrollbar{width:7px;}
.onli_param::-webkit-scrollbar-thumb{background-color: #cdcdcd;}
.onli_param::-webkit-scrollbar-thumb:hover{background-color: #aaa;}
.onli_param::-webkit-scrollbar-thumb:active{background-color: #999;}
.onli_param::-webkit-scrollbar-track{border-width:0;background-color: #eee;}
.manufs .img_param, .manufs .img_param_null {width: 25px;}
.optv .img_param, .optv .img_param_null {width: 20px;}
.attrb .img_param, .attrb .img_param_null {width: 25px;}
/* end scroll_images */
