<div class="rev_slider">
    <div class="heading_h"><h3>{{ heading_title }}</h3></div>
    <div class="row">
        <div id="slider_m_last" class="owlca_{{ module_alt_id }}">
        {% for product in products %} 
			<div class="product-layout col-lg-12 item">
			  <div class="product-thumb product_{{ product['product_id'] }}">
				<div class="image">
					{% if (product['product_in_cart']) %} 
						<div class="pr_in_cart_i"><i class="fa fa-check"></i></div>
					{% endif %} 
					{% if (img_slider) %}		
						<div class="image owl-carousel owlproduct">
							<div class="item text-center">
								<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" /></a>
							</div>			
							{% if (product['images']) %} 
								{% for image in product['images'] %} 
									<!--noindex-->
									<div class="item text-center">
										<a href="{{ product['href'] }}"><img src="{{ image['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" rel="nofollow" /></a>
									</div>
									<!--/noindex-->
								{% endfor %} 
							{% endif %} 
						</div>
					{% else %} 
						<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if ((product['quantity'] < 1 and not zakaz) or (product['price_number'] == 0 and not zakaz_price_null)) %}zatemnenie_img{% endif %}" /></a>
					{% endif %} 
					{% if (stikers_status) %} 
						<div class="stiker_panel">
							{% if ((product['quantity'] > 0 and product['price_number'] != 0) or zakaz) %} 
								{% if (product['stiker_spec']) %} 
									{% if (product['special']) %} 
										<span class="stiker stiker_spec"><span>{{ '- ' ~ ((product.price_number-product.special_number)/product.price_number*100)|round ~ '%' }}</span></span>
									{% else %} 
										<span class="hidden special_no_format{{ product['product_id'] }}"></span>
									{% endif %} 
								{% else %} 
									<span class="hidden special_no_format{{ product['product_id'] }}"></span>
								{% endif %} 
							{% else %} 
								<span class="special_no_format{{ product['product_id'] }}" style="display:none"></span>
							{% endif %} 
							{% if (product['stiker_best']) %} 
								<span class="stiker stiker_best">{{ text_catalog_stiker_best }}</span>
							{% endif %} 
							{% if (product['stiker_last']) %} 
								<span class="stiker stiker_last">{{ text_catalog_stiker_last }}</span>
							{% endif %} 
							{% if (product['stiker_sklad_status']) %} 
								<span class="stiker stiker_netu">{{ product['stiker_sklad_status'] }}</span>
							{% elseif (product['stiker_stock']) %} 
								{% if (product['price_number'] == 0 and not zakaz_price_null) %} 
									<span class="stiker stiker_netu">{{ text_catalog_stiker_netu_2 }}</span>
								{% elseif (product['quantity'] < 1 and product['price_number'] > 0 and not zakaz) %} 
									<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
								{% elseif (product['quantity'] < 1 and not zakaz and zakaz_price_null) %} 
									<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
								{% elseif (product['quantity'] < 1 and zakaz and not zakaz_price_null) %} 
									<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
								{% elseif (product['quantity'] < 1 and zakaz and zakaz_price_null) %} 
									<span class="stiker stiker_netu">{{ product['text_catalog_stiker_netu'] }}</span>
								{% endif %} 
							{% endif %} 
							{% if (product['stiker_upc']) %} 
								<span class="stiker stiker_user">{{ product['stiker_upc'] }}</span>
							{% endif %} 
							{% if (product['stiker_ean']) %} 
								<span class="stiker stiker_user">{{ product['stiker_ean'] }}</span>
							{% endif %} 
							{% if (product['stiker_jan']) %} 
								<span class="stiker stiker_user">{{ product['stiker_jan'] }}</span>
							{% endif %} 
							{% if (product['stiker_isbn']) %} 
								<span class="stiker stiker_user">{{ product['stiker_isbn'] }}</span>
							{% endif %} 
							{% if (product['stiker_mpn']) %} 
								<span class="stiker stiker_user">{{ product['stiker_mpn'] }}</span>
							{% endif %} 
						</div>
					{% endif %} 
					{% if (revpopuporder or popup_view or ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod'])) %} 
						<div class="fapanel {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'rev_wish_srav_prod' }} {% endif %}">		
							{% if ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod']) %} 
								{% if (rev_wish_prod) %} 
									<div class="wishlist">
										<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
									</div>
								{% endif %} 
								{% if (rev_srav_prod) %} 
									<div class="compare">
										<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
									</div>
								{% endif %} 
							{% endif %} 
							{% if (popup_view) %} 
								<div class="lupa">
									<a onclick="get_revpopup_view('{{ product['product_id'] }}');"><i data-toggle="tooltip" {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'data-placement="left"' }} {% endif %} title="{{ text_catalog_revpopup_view }}" class='fa fa-border fa-eye'></i></a>
								</div>
							{% endif %} 
							{% if (product['quantity'] > 0 or zakaz) %} 
								{% if (revpopuporder) %} 
									{% if (product['price_number'] > 0 or zakaz_price_null) %} 
										<div class="zakaz">
											<a onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i data-toggle="tooltip" {% if (not setting_catalog_all['rev_wish_srav_prod']) %} {{ 'data-placement="left"' }} {% endif %} title="{{ text_catalog_revpopup_purchase }}" class='fa fa-border fa-gavel'></i></a>
										</div>
									{% endif %} 
								{% endif %} 
							{% endif %} 
						</div>
					{% endif %} 
				</div>
				<div class="caption product-info clearfix">
					<h4><a href="{{ product['href'] }}">{{ product['name'] }}</a></h4>
					{% if (product['rating']) %} 
					<div class="rating">
					  {% set i = 1 %}{% for i in i..5 %} 
					  {% if (product['rating'] < i) %} 
					  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
					  {% else %} 
					  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
					  {% endif %} 
					  {% endfor %} 
					</div>
					{% endif %} 
					<div class="description_options">
						<div class="description {{ product['options'] and product['options_buy'] ? 'description_options_buy_price' : '' }}">
							{% if (description_options['short_desc'] and product['short_description']) %} 
								<div class="short_description">{{ product['short_description'] }}</div>
							{% endif %} 
							{{ product['description'] }} 
							{% if (not description_options['zamena_description']) %}<span class="hidden pr_quantity_{{ product['product_id'] }}"></span>{% endif %} 
						</div>
						{% if (revtheme_product_all['options_buy'] and product['options'] and product['options_buy']) %} 
							<div class="well well-sm product-info options_buy">
								<div id="option_{{ product['product_id'] }}" class="options">
									<div class="form-group">
										{% if (revtheme_product_all['options_buy_optionname_one']) %} 
											<label class="control-label options_buy_label">{% for option in product['options'] %}{{ option['name'] }}:{% endfor %}</label>
										{% else %} 
											<label class="control-label options_buy_label">{{ text_option_option }}:</label>
										{% endif %} 
										<select class="form-control" onchange="get_product_option_id_slider_m_last('{{ product['product_id'] }}')" name="" id="slider_m_last_soption_{{ product['product_id'] }}">
												{% for option in product['options'] %} 
													{% if (revtheme_product_all['options_buy_optionname']) %} 
														<optgroup label="{{ option['name'] }}:" >
													{% endif %} 
													{% for option_value in option['product_option_value'] %} 
														{% if (option_value['price'] > 0 and option_value['quantity'] > 0) %} 
															<option product_option_id="{{ option['product_option_id'] }}" value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
															{% if (opt_price) %} 
																{% if (option_value['price']) %} 
																<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
																{% endif %} 
															{% endif %} 
															</option>
														{% endif %} 
													{% endfor %} 
													{% if (revtheme_product_all['options_buy_optionname']) %} 
														</optgroup>
													{% endif %} 
												{% endfor %} 
										</select>
									</div>
								</div>
							</div>
							<script><!--
							$('#slider_m_last.owlca_{{ module_alt_id }} select.form-control option:nth-child(1)').attr('selected', 'selected');
							$( document ).ready(function() {
								get_product_option_id_slider_m_last ({{ product['product_id'] }});
							});
							function get_product_option_id_slider_m_last (product_id) {
								var sel_option_id = document.getElementById('slider_m_last_soption_'+product_id);
								var option_id = sel_option_id.options[sel_option_id.selectedIndex].getAttribute('product_option_id');
								sel_option_id.setAttribute('name', 'option['+option_id+']');
								update_prices_product_slider_m_last_{{ module_alt_id }} (product_id,1);
							}
							--></script>
						{% elseif (product['options']) %} 
							<div class="well well-sm product-info">
								<div id="option_{{ product['product_id'] }}" class="options">
								{% for option in product['options'] %} 
									{% if (option['type'] == 'select') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
											<label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
											<div id="input-option{{ option['product_option_id'] }}">
												<select onchange="update_prices_product_slider_m_last_{{ module_alt_id }}({{ product['product_id'] }},{{ product['minimum'] }});" name="option[{{ option['product_option_id'] }}]" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control">
													<option value="">{{ text_select }}</option>
													{% for option_value in option['product_option_value'] %} 
														<option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
															{% if (opt_price) %} 
																{% if (option_value['price']) %} 
																	<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
																{% endif %} 
															{% endif %} 
														</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'radio') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
											<label class="control-label">{{ option['name'] }}:</label>
											<div id="input-option{{ option['product_option_id'] }}">
												{% for option_value in option['product_option_value'] %} 
													<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
														<input onchange="update_prices_product_slider_m_last_{{ module_alt_id }}({{ product['product_id'] }},{{ product['minimum'] }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
														<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
															{% if (option_value['image']) %} 
																<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
															{% else %} 
																<span>{{ option_value['name'] }}</span>
															{% endif %} 
															{% if (option_value['price']) %} 
																<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
															{% endif %} 
															<i class="fa fa-check"></i>	
														</label>
													</div>
												{% endfor %} 
											</div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'checkbox') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
											<label class="control-label">{{ option['name'] }}:</label>
											<div id="input-option{{ option['product_option_id'] }}">
												{% for option_value in option['product_option_value'] %} 
													<div class="radio checkbox{% if (option['opt_image']) %} opt_with_img{% endif %}">
														<input onchange="update_prices_product_slider_m_last_{{ module_alt_id }}({{ product['product_id'] }},{{ product['minimum'] }});" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
														<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
															{% if (option_value['image']) %} 
																<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
															{% else %} 
																<span>{{ option_value['name'] }}</span>
															{% endif %} 
															{% if (option_value['price']) %} 
																<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
															{% endif %} 
															<i class="fa fa-check"></i>
														</label>
													</div>
												{% endfor %} 
											</div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'image') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
											<label class="control-label">{{ option['name'] }}:</label>
											<div id="input-option{{ option['product_option_id'] }}">
												{% for option_value in option['product_option_value'] %} 
													<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
														<input onchange="update_prices_product_slider_m_last_{{ module_alt_id }}({{ product['product_id'] }},{{ product['minimum'] }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
														<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="slider_m_last_{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
															{% if (option_value['image']) %} 
																<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
															{% else %} 
																<span>{{ option_value['name'] }}</span>
															{% endif %} 
															{% if (option_value['price']) %} 
																<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
															{% endif %} 
															<i class="fa fa-check"></i>	
														</label>
													</div>
												{% endfor %} 
											</div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'text') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control" />
										</div>
									{% endif %} 
									{% if (option['type'] == 'textarea') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										  <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
										</div>
									{% endif %} 
									{% if (option['type'] == 'file') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label">{{ option['name'] }}:</label>
										  <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
										  <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
										</div>
									{% endif %} 
									{% if (option['type'] == 'date') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										  <div class="input-group date">
											<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control" />
											<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											</span></div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'datetime') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										  <div class="input-group datetime">
											<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											</span></div>
										</div>
									{% endif %} 
									{% if (option['type'] == 'time') %} 
										<div class="form-group{{ option['required'] ? ' required' : '' }}">
										  <label class="control-label" for="slider_m_last_input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										  <div class="input-group time">
											<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="slider_m_last_input-option{{ option['product_option_id'] }}" class="form-control" />
											<span class="input-group-btn">
											<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
											</span></div>
										</div>
									{% endif %} 
								{% endfor %} 
								</div>
							</div>
						{% endif %} 
					</div>
					<div class="product_buttons">
						{% if (revpopuporder or popup_view or ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod'])) %} 
							<div class="fapanel-price">
								{% if (product['quantity'] > 0 or zakaz) %} 
									{% if (revpopuporder) %} 
										{% if (product['price_number'] > 0 or zakaz_price_null) %} 
											<div class="zakaz">
												<a onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i data-toggle="tooltip" data-placement="top" title="{{ text_catalog_revpopup_purchase }}" class='fa fa-border fa-gavel'></i></a>
											</div>
										{% endif %} 
									{% endif %} 
								{% endif %} 
								{% if (popup_view) %} 
									<div class="lupa">
										<a onclick="get_revpopup_view('{{ product['product_id'] }}');"><i data-toggle="tooltip" data-placement="top" title="{{ text_catalog_revpopup_view }}" class='fa fa-border fa-eye'></i></a>
									</div>
								{% endif %} 
								{% if ((rev_srav_prod or rev_wish_prod) and setting_catalog_all['rev_wish_srav_prod']) %} 
								{% if (rev_srav_prod) %} 
									<div class="compare">
										<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
									</div>
								{% endif %} 
								{% if (rev_wish_prod) %} 
									<div class="wishlist">
										<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
									</div>
								{% endif %} 
							{% endif %} 
							</div>
						{% endif %} 
						{% if (product['price']) %} 
							{% if (product['price_number'] > 0) %} 
								{% if (product['quantity'] > 0 or zakaz) %} 
									<div class="price">
									{% if (product['price_number'] > 0 or zakaz_price_null) %} 
										{% if (not product['special']) %} 
											<span class="price_no_format{{ product['product_id'] }}">{{ product['price'] }}</span>
										{% else %} 
<span class="price-old special_no_format{{ product.product_id }}">{{ product['price'] }}</span>
											<span class="price-new"><span class="price_no_format{{ product['product_id'] }}">{{ product['special'] }}</span></span>
										{% endif %} 
									{% endif %} 
									</div>
								{% else %} 
									{% if (predzakaz_button) %} 
										<div class="price">
										{% if (product['price_number'] > 0 or zakaz_price_null) %} 
											{% if (not product['special']) %} 
												<span class="price_no_format{{ product['product_id'] }}">{{ product['price'] }}</span>
											{% else %} 
<span class="price-old special_no_format{{ product.product_id }}">{{ product['price'] }}</span>
												<span class="price-new"><span class="price_no_format{{ product['product_id'] }}">{{ product['special'] }}</span></span>
											{% endif %} 
										{% endif %} 
										</div>
									{% else %} 
										<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
									{% endif %} 
								{% endif %} 
								{% if (ch_quantity and (product['price_number'] > 0 or zakaz_price_null) and (product['quantity'] > 0 or zakaz)) %} 
									<div class="number">
										<div class="frame-change-count">
											<div class="btn-plus">
												<button type="button" onclick="validate_pole_slider_m_last_{{ module_alt_id }}(this,{{ product['product_id'] }},'+',{{ product['minimum'] }},{{ product['quantity'] }});">+</button>
											</div>
											<div class="btn-minus">
												<button type="button" onclick="validate_pole_slider_m_last_{{ module_alt_id }}(this,{{ product['product_id'] }},'-',{{ product['minimum'] }},{{ product['quantity'] }});">-</button>
											</div>
										</div>
										<input type="text" name="quantity" class="plus-minus" value='{{ product['minimum'] }}' onchange="validate_pole_slider_m_last_{{ module_alt_id }}(this);" onkeyup="validate_pole_slider_m_last_{{ module_alt_id }}(this,{{ product['product_id'] }},'=',{{ product['minimum'] }},{{ product['quantity'] }});">
									</div>
								{% else %} 
									<div class="number bordnone"></div>
									<input type="hidden" name="quantity" class="plus-minus" value='{{ product['minimum'] }}'>
								{% endif %} 
								<div class="clearfix"></div>
							{% else %} 
								{% if (zakaz or zakaz_price_null) %} 
									<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
									{% if (product['price_number'] == 0 and not zakaz_price_null) %} 
									{% elseif (product['quantity'] > 0 or zakaz) %} 
										<div class="price_na_zakaz">{{ text_catalog_price_na_zakaz }}</div>
									{% endif %} 
								{% else %} 
									<div class="price"><span class="hidden price_no_format{{ product['product_id'] }}"></span></div>
								{% endif %} 
							{% endif %} 
						{% endif %} 
						{% if ((rev_srav_prod or rev_wish_prod) and not setting_catalog_all['rev_wish_srav_prod']) %} 
							{% if (rev_srav_prod) %} 
								<div class="compare">
									<a class="{{ product['compare_class'] }}" data-toggle="tooltip" onclick="compare.add('{{ product['product_id'] }}', '{{ product['brand'] }}');" title="{{ product['button_compare'] }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
								</div>
							{% endif %} 
							{% if (rev_wish_prod) %} 
								<div class="wishlist">
									<a class="{{ product['wishlist_class'] }}" data-toggle="tooltip" onclick="wishlist.add('{{ product['product_id'] }}');" title="{{ product['button_wishlist'] }}"><i class="fa fa-border fa-heart"></i></a>
								</div>
							{% endif %} 
						{% set button_cart_class = 'prlistb' %} {% else %} {% set button_cart_class = 'prlistb active' %} {% endif %}
						{% if (product['quantity'] > 0 or zakaz or predzakaz_button) %} 
							{% if (product['price_number'] > 0 or zakaz_price_null) %} 
								{% if (product['quantity'] < 1 and predzakaz_button) %} 
									<div class="cart predzakaz_cart">
										<a onclick="get_revpopup_predzakaz({{ product['product_id'] }});" {% if (button_cart_class != 'prlistb active') %}data-toggle="tooltip" title="{{ text_predzakaz }}"{% endif %}><i class="fa fa-border fa-shopping-basket predzakaz"><span class="{{ button_cart_class }}">{{ text_predzakaz }}</span></i></a>
									</div>
								{% else %} 
									<div class="cart">
										<a onclick="get_revpopup_cart({{ product['product_id'] }},'module',get_revpopup_cart_quantity_slider_m_last_{{ module_alt_id }}('{{ product['product_id'] }}'),'slider_m_last');" {% if (button_cart_class != 'prlistb active') %}data-toggle="tooltip" title="{{ button_cart }}"{% endif %}><i class="fa fa-border fa-shopping-basket"><span class="{{ button_cart_class }}">{{ button_cart }}</span></i></a>
									</div>
									{% if (revpopuporder_settings['quick_btn']) %} 
										<a class="quick_btn btn btn-default btn-xs pull-right" onclick="get_revpopup_purchase('{{ product['product_id'] }}');"><i class="fa fa-hand-pointer-o"></i>{{ text_catalog_revpopup_purchase }}</a>
									{% endif %} 
								{% endif %} 
							{% endif %} 
						{% endif %} 
					</div>
				</div>
			  </div>
			</div>
        {% endfor %} 
        </div>
    </div>

<script><!--
$("#slider_m_last.owlca_{{ module_alt_id }}").owlCarousel({
	responsiveBaseWidth: '#slider_m_last.owlca_{{ module_alt_id }}',
	{% if (chislo_ryad) %} 
		{% if (setting_all_settings['mobil_two']) %} 
			itemsCustom: [[0, 1], [294, 2], [375, 2], [750, 3], [970, 4], [1170, 4]],
		{% else %} 
			itemsCustom: [[0, 1], [375, 1], [750, 3], [970, 4], [1170, 4]],
		{% endif %} 
	{% else %} 
		{% if (setting_all_settings['mobil_two']) %} 
			itemsCustom: [[0, 1], [294, 2], [375, 2], [750, 3], [970, 4], [980, 5]],
		{% else %} 
			itemsCustom: [[0, 1], [375, 1], [750, 3], [970, 4], [980, 5]],
		{% endif %} 
	{% endif %} 
	mouseDrag: true,
	touchDrag: true,
	navigation: true,
	navigationText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
	pagination: true,
});

{% if (img_slider) %} 
	$('#slider_m_last.owlca_{{ module_alt_id }} .owlproduct').owlCarousel({
		items: 1,
		singleItem: true,
		mouseDrag: false,
		touchDrag: false,
		autoPlay: false,
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-3x"></i>', '<i class="fa fa-chevron-right fa-3x"></i>'],
		pagination: false
	});
{% else %} 
	$('.owl-carousel.owlproduct').remove();
{% endif %} 

{% for product in products %} {% if (product['minimum'] > 1 and recalc_price) %} 
	update_quantity_slider_m_last_{{ module_alt_id }}({{ product['product_id'] }}, {{ product['minimum'] }});
{% endif %} {% endfor %} 
function get_revpopup_cart_quantity_slider_m_last_{{ module_alt_id }}(product_id) {
	input_val = $('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .plus-minus').val();
	quantity  = parseInt(input_val);
	return quantity;
}
function validate_pole_slider_m_last_{{ module_alt_id }}(val, product_id, znak, minimumvalue, maximumvalue) {
	val.value = val.value.replace(/[^\d,]/g, '');
	if (val.value == '') val.value = minimumvalue;
	maximumvalue = Number($('#slider_m_last.owlca_{{ module_alt_id }} .pr_quantity_'+product_id).text());
	if (maximumvalue < 1) maximumvalue = 9999;
	input_val = $('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .plus-minus');	
	quantity = parseInt(input_val.val());
	{% if (q_zavisimost) %} 
	if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	} else if (quantity > maximumvalue) {
		input_val.val(maximumvalue);
		val.value = maximumvalue;
	}
	{% else %} 
	if(znak=='+') input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	}
	{% endif %} 
	update_quantity_slider_m_last_{{ module_alt_id }}(product_id, input_val.val());
}
function update_quantity_slider_m_last_{{ module_alt_id }}(product_id, quantity) {
	{% if (recalc_price) %} 
		quantity = quantity;
	{% else %} 
		quantity = 1;
	{% endif %} 
	
	data = $('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'text\'], #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'hidden\'], #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'radio\']:checked, #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'checkbox\']:checked, #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options select');
	$.ajax({
	  url: 'index.php?route=product/product/update_prices',
	  type: 'post',
	  dataType: 'json',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  success: function(json) {
		{% if (recalc_price) %} 
		
			{% if (description_options['zamena_description'] and description_options['weight']) %} 
				var weight = json['weight'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_weight = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).attr('data-weight'));
					$({val:start_weight}).animate({val:weight}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).html(weight_format(val, product_id));
						}
					});
					$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).attr('data-weight', json['weight']);
				{% else %} 
					$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).html(weight_format(weight, product_id));
				{% endif %} 
			{% endif %} 

			{% if (stikers_status) %} 
				var price = json['price_n'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_price = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html().replace(/\s*/g,''));
					$({val:start_price}).animate({val:price}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html(price_format(val));
						}
					});
				{% else %} 
					$('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html(price_format(price));
				{% endif %} 
			{% endif %} 
			
			var special = json['special_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_special = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html().replace(/\s*/g,''));
				$({val:start_special}).animate({val:special}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html(price_format(val));
					}
				});
			{% else %} 
				$('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html(price_format(special));
			{% endif %} 
		{% endif %} 
	  }
	});
}
function update_prices_product_slider_m_last_{{ module_alt_id }}(product_id, minimumvalue) {
	input_val = $('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .plus-minus').val();
	if (input_val > minimumvalue) {
		input_val = minimumvalue;
		$('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .plus-minus').val(minimumvalue);
	}
	{% if (recalc_price) %} 
	quantity = parseInt(input_val);
	{% else %} 
	quantity = 1;
	{% endif %} 
	data = $('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'text\'], #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'hidden\'], #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'radio\']:checked, #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options input[type=\'checkbox\']:checked, #slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .options select');
	$.ajax({
	  type: 'post',
	  url:  'index.php?route=product/product/update_prices',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  dataType: 'json',
	  success: function(json) {
	  
		{% if (img_slider) %} 
		$('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .image .owl-item:first-child img').attr('src', json['opt_image']);
		{% else %} 
		$('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .image img').attr('src', json['opt_image']);
		{% endif %} 
	  
		{% if (description_options['zamena_description'] and description_options['model']) %} 
		$('#slider_m_last.owlca_{{ module_alt_id }} .product_'+product_id+' .pr_model_'+product_id).html(json['opt_model']);
		{% endif %} 
	  
		var end_quantity = json['option_quantity'];
		{% if (revtheme_product_all['recalc_price_animate']) %} 
			var start_quantity = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .pr_quantity_'+product_id).html().replace(/\s*/g,''));
			$({val:start_quantity}).animate({val:end_quantity}, {
				duration: 500,
				easing: 'swing',
				step: function(val) {
					$('#slider_m_last.owlca_{{ module_alt_id }} .pr_quantity_'+product_id).html(number_format(val, product_id));
				}
			});
		{% else %} 
			$('#slider_m_last.owlca_{{ module_alt_id }} .pr_quantity_'+product_id).html(number_format(end_quantity, product_id));
		{% endif %} 
		
		{% if (description_options['zamena_description'] and description_options['weight']) %} 
			var weight = json['weight'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_weight = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).attr('data-weight'));
				$({val:start_weight}).animate({val:weight}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).html(weight_format(val, product_id));
					}
				});
				$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).attr('data-weight', json['weight']);
			{% else %} 
				$('#slider_m_last.owlca_{{ module_alt_id }} .pr_weight_'+product_id).html(weight_format(weight, product_id));
			{% endif %} 
		{% endif %} 
	  
		{% if (stikers_status) %} 
			var price = json['price_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_price = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html().replace(/\s*/g,''));
				$({val:start_price}).animate({val:price}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html(price_format(val));
					}
				});
			{% else %} 
				$('#slider_m_last.owlca_{{ module_alt_id }} .special_no_format'+product_id).html(price_format(price));
			{% endif %} 
		{% endif %} 
		
		var special = json['special_n'];
		{% if (revtheme_product_all['recalc_price_animate']) %} 
			var start_special = parseFloat($('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html().replace(/\s*/g,''));
			$({val:start_special}).animate({val:special}, {
				duration: 500,
				easing: 'swing',
				step: function(val) {
					$('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html(price_format(val));
				}
			});
		{% else %} 
			$('#slider_m_last.owlca_{{ module_alt_id }} .price_no_format'+product_id).html(price_format(special));
		{% endif %} 
	  }
	});
}
var product_grid_width = $('.product-layout .product-thumb').outerWidth();
if (product_grid_width < 240) {
	$('.product-layout').addClass('new_line');
} else {
	$('.product-layout').removeClass('new_line');
}
max_height_div('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb h4');
$('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb .description_options').css('min-height', 'initial');
max_height_div('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb .description_options');
max_height_div('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb .price');
max_height_div('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb .number');
max_height_div('#slider_m_last.owlca_{{ module_alt_id }} .product-thumb .product_buttons');
function max_height_div(div) {
	var maxheight = 0;
	$(div).each(function(){
		$(this).removeAttr('style');
		if($(this).height() > maxheight) {
			maxheight = $(this).height();
		}
	});
	$(div).height(maxheight);
}
//--></script>	
</div>