<div class="text-center" style="line-height: 20px;">{{ text_copy }}</div>
<script type="text/javascript">
	var w = 0;
	$('a.delete').on('click', function () {
		if (!confirm('{{ text_confirm_delete }}')) {
			return false;
		}
	});
	$(document).ready(function () {
		$('.form-group label').each(function () {
			var h, i, e = $(this);
			if (e.attr('data-prop_id')) {
				h = e.html();
				if (e.find("input").length) {
					e.before('<span data-prop_id="' + e.attr('data-prop_id') + '" class="f-icon-helper" aria-hidden="true">');
					e.after('</span>');

					i = e.next();
				} else {
					e.html('<span data-prop_id="' + e.attr('data-prop_id') + '" class="f-icon-helper" aria-hidden="true">' + h + '</span>');
					i = e.find('.f-icon-helper');
				}
				if (i.length) {
					i.click(function (ev) {
						var o = $(this).offset();
						if ($('#wafafagmag').is(":visible") && (o.top + o.left) == w) {
							$('#wafafagmag').remove();
						} else {
							$('#wafafagmag').remove();
							$('<div class="f-tooltip csv_helper-block" id="wafafagmag" style="display:none"><div class="c_top l"></div><div class="c_top r"></div><div class="close" onclick="$(\'#wafafagmag\').remove()"></div><div class="f-help-content">' + prop_descr[$(this).attr('data-prop_id')] + '</div><div class="c_btm l"></div><div class="c_btm r"></div></div>').appendTo('body');
							$('#wafafagmag').css({
								top: ev.pageY + 20,
								left: ev.pageX - 10
							}).show();
							w = o.top + o.left;
						}
					});
				}
			}
		});
	});
	$(document).keyup(function (e) {
		if (e.keyCode == 27 && !$('#wafafagmag').is(':hidden')) {
			$('#wafafagmag').remove();
		}
	});
	$(window).click(function (e) {
		if ($(e.target).closest('#wafafagmag').length == 0 && e.target.className !== 'f-icon-helper') {
			$('#wafafagmag').remove();
		}
	});
	$('#wafafagmag').click(function (event) {
		event.stopPropagation();
	});
	$(function () {
		$(".show_scroll").click(function (e) {
			e.preventDefault();
			var d = $('#oc2-dialog-scroll'), m = $('#oc2-modal-body'), id = $(this).parent().attr('id'), k = 0;
			m.html('<div class="scrollbox" style="width: 100% !important; height: 100% !important">' + $("#" + id + " div.scrollbox").html() + '</div>');
			$("#" + id + ' input[type="checkbox"]').each(function () {
				$(this).attr("id", "l-scroll_" + k);
				k++;
			});
			k = 0;
			$('#oc2-modal-body input[type="checkbox"]').each(function () {
				$(this).attr("id", "k-scroll_" + k);
				if ($("#l-scroll_" + k).prop('checked')) {
					$(this).prop('checked', true);
				}
				k++;
			});
			d.on('show.bs.modal', function (e) {
				$('#oc2-modal-body input[type="checkbox"').change(function () {
					$('#' + $(this).attr('id').replace('k-scroll_', 'l-scroll_')).prop('checked', $(this).prop('checked'));
				});
			})
			d.on('hidden.bs.modal', function (e) {
				$("#" + id + ' input[type="checkbox"]').each(function () {
					$(this).attr('id', '');
				});
				m.html('');
			})
			d.modal('show');
			return false;
		});
	});
</script>