{% if (heading_title) %} 
<div class="rev_slider rev_blog_mod">
{% else %} 
<div class="rev_slider_2 rev_blog_mod">
{% endif %} 
	<div class="heading_h"><h3>{{ heading_title }}</h3></div>
	<div class="row">
		<div id="blog_mod" class="inhomeblogmod">
			{% for blog in blogs %} 
			<div class="product-layout col-lg-12">
				<div class="blog-list vertical-sreview transition">
					<div class="caption review-caption">
						{% if (image_status) %} 
							<div class="image">
								<a href="{{ blog['href'] }}"><img class="img-responsive" src="{{ blog['thumb'] }}" alt="{{ blog['title'] }}" title="{{ blog['title'] }}" /></a>
							</div>
						{% endif %} 
						<div class="opisb">
						<h4><a href="{{ blog['href'] }}">{{ blog['title'] }}</a></h4>
						{% if (blog_date_status is defined and blog_date_status) %} 
							<p>{% if (category_blog_grid is not defined or not category_blog_grid) %}<i class="fa fa-clock-o"></i>{% endif %}{{ blog['data_added'] }}</p>
						{% endif %} 
						</div>
						{% if (blog['description'] != '..') %} 
						<div class="description">{{ blog['description'] }}</div>
						{% endif %} 
					</div>
				</div>
			</div>
			{% endfor %} 
		</div>
	</div>
	<script><!--
		$("#blog_mod.inhomeblogmod").owlCarousel({
			responsiveBaseWidth: '#blog_mod',
			{% if (revtheme_home_blog['count_r']) %} 
			itemsCustom: [[0, 1], [750, 2], [970, 3], [1170, 3]],
			{% else %} 
			itemsCustom: [[0, 1], [750, 2], [970, 4], [1170, 4]],
			{% endif %} 
			mouseDrag: true,
			touchDrag: true,
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
			{% if (not heading_title) %} 
			pagination: false
			{% endif %} 
		});
		max_height_div('#blog_mod.inhomeblogmod h4');
		$(window).load(function() {
			max_height_div('#blog_mod.inhomeblogmod .caption.review-caption');
		});
	//--></script>
</div>