<div id="popup-order-okno">
<div id="popup-order-okno-inner">
{% if (products) %} 
  <div class="popup-heading">{{ heading_cartpopupquick_title }}</div>
  <div class="popup-center">
    {% if (attention) %} 
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% else %} 
    <div id="success-message"></div>
    {% endif %} 
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <table class="display-products-cart">
      <tbody>
        {% for product in products %} 
        <tr>
          <td class="image">
            {% if (product['thumb']) %} 
            <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" /></a>
            {% endif %} 
          </td>
          <td class="name">
            <a href="{{ product['href'] }}">{{ product['name'] }}</a>
            {% if (not product['stock']) %} 
            <span class="text-danger">***</span>
            {% endif %} 
            {% if (product['option']) %} 
            {% for option in product['option'] %} 
            <br />
            {{ option['name'] }}: {{ option['value'] }} 
            {% endfor %} 
            {% endif %} 
            {% if (product['reward']) %} 
            <br />
            {{ product['reward'] }} 
            {% endif %} 
          </td>
          <td class="qt">
            <div class="number">
              <input name="product_id" value="{{ product['key'] }}" style="display: none;" type="hidden" />
              <div class="frame-change-count">
                <div class="btn-plus">
                  <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()+1); update(this, 'update', '{{ product['quantity_pr'] }}');">+</button>
                </div>
                <div class="btn-minus">
                  <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()-1); update(this, 'update', '{{ product['quantity_pr'] }}');">-</button>
                </div>
              </div>
              <input type="text" name="quantity" value="{{ product['quantity'] }}" class="plus-minus" onchange="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" onkeyup="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" />
            </div>
          </td>
          <td class="totals">{{ product['total'] }}</td>
		  <td class="remove">
            <button type="button" onclick="update(this, 'remove');"><i class="fa fa-trash-o"></i></button>
            <input name="product_key" value="{{ product['key'] }}" style="display: none;" hidden />           
          </td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="mobile-products-cart">
    {% for product in products %} 
      <div>
        <div class="image">
          {% if (product['thumb']) %} 
          <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" /></a>
          {% endif %} 
        </div>
        <div class="name">
          <a href="{{ product['href'] }}">{{ product['name'] }}</a>
          {% if (not product['stock']) %} 
          <span class="text-danger">***</span>
          {% endif %} 
          {% if (product['option']) %} 
          {% for option in product['option'] %} 
          <br />
          {{ option['name'] }}: {{ option['value'] }} 
          {% endfor %} 
          {% endif %} 
          {% if (product['reward']) %} 
          <br />
          {{ product['reward'] }} 
          {% endif %} 
        </div>
        <div class="qt">
          <div class="number">
              <input name="product_id" value="{{ product['key'] }}" style="display: none;" type="hidden" />
              <div class="frame-change-count">
                <div class="btn-plus">
                  <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()+1); update(this, 'update', '{{ product['quantity_pr'] }}');">+</button>
                </div>
                <div class="btn-minus">
                  <button type="button" onclick="$(this).parent().parent().next().val(~~$(this).parent().parent().next().val()-1); update(this, 'update', '{{ product['quantity_pr'] }}');">-</button>
                </div>
              </div>
              <input type="text" name="quantity" value="{{ product['quantity'] }}" class="plus-minus" onchange="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" onkeyup="update_manual(this, '{{ product['key'] }}', '{{ product['quantity_pr'] }}'); return validate(this);" />
            </div>
			<span class="remove">
			  <button type="button" onclick="update(this, 'remove');"><i class="fa fa-trash-o"></i></button>
			  <input name="product_key" value="{{ product['key'] }}" style="display: none;" hidden />
			</span>
        </div>
        <div class="totals">
          {{ product['total'] }} 
        </div>		
        </div>
      {% endfor %} 
    </div>
	
    <div class="all-total">
      {% for total in totals %} 
		<div class="clear-total">
		<div class="totals-right">{{ total['text'] }}</div>
        <div class="totals-left">{{ total['title'] }}:</div>     
        </div>
      {% endfor %} 
    </div>
	<form method="post" enctype="multipart/form-data" id="purchase-form">
		<div class="payment-info" style="padding-top: 0;">
			{% if (revtheme_catalog_popuporder['firstname']) %} 
			<div>
			  <label>{% if (revtheme_catalog_popuporder['firstname'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_firstname }}</label>
			  <input name="firstname" value="{{ firstname }}" />
			</div>
			{% endif %} 
			{% if (revtheme_catalog_popuporder['telephone']) %} 
			<div>
			  <label>{% if (revtheme_catalog_popuporder['telephone'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_telephone }}</label>
			  <input name="telephone" value="{{ telephone }}" {% if (telephone_mask) %} data-mask="{{ telephone_mask }}" {% endif %} />
			</div>
			{% endif %} 
			{% if (revtheme_catalog_popuporder['email']) %} 
			<div>
			  <label>{% if (revtheme_catalog_popuporder['email'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_email }}</label>
			  <input name="email" value="{{ email }}" />
			</div>
			{% endif %} 
			{% if (revtheme_catalog_popuporder['comment']) %} 
			<div>
			  <label>{% if (revtheme_catalog_popuporder['comment'] == 2) %}<span class="required">*</span>{% endif %}{{ enter_comment }}</label>
			  <textarea name="comment">{{ comment }}</textarea>
			</div>
			{% endif %} 
		</div>
		{% if (text_agree_pol_konf) %} 
			<div class="rev_pol_konf pull-right text-right">
				<span>{{ text_agree_pol_konf }}</span>
				<input type="checkbox" name="agree_pol_konf" checked="checked" />
			</div>
		{% endif %} 
	</form>
  </div>
  <div class="popup-footer">
    <button onclick="$.magnificPopup.close();">{{ button_shopping }}</button>
    {% if ((not error_warning or zakaz) or not q_zavisimost) %} 
		<a id="popup-checkout-button">{{ button_checkout }}</a>
	{% endif %} 
  </div>
{% else %} 
  <div class="popup-heading">{{ heading_cartpopup_title_empty }}</div>
  <div class="popup-center empty-cart">{{ text_cartpopup_empty }}</div>
  <div class="popup-footer">
    <button onclick="$.magnificPopup.close();">{{ button_shopping }}</button>
  </div>
{% endif %} 
</div>
<script><!--
function validate(input) {
  input.value = input.value.replace( /[^\d,]/g, '' );
}

$('#popup-checkout-button').on('click', function() {
	masked('#popup-order-okno', true);
	$.ajax({
		type: 'post',
		url: 'index.php?route=revolution/revpopupcartquick/make_order',
		dataType: 'json',
		data: $('#purchase-form').serialize(),
		success: function(json) {
			if (json['error']) {
				if (json['error']['field']) {
					masked('#popup-order-okno', false);
					$('.text-danger').remove();
					$.each(json['error']['field'], function(i, val) {
						$('[name="' + i + '"]').addClass('error_style').after('<div class="text-danger">' + val + '</div>');
					});
				}
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						masked('#popup-order-okno', false);
						$('.required .text-danger').remove();
						var element = $('#input-option' + i.replace('_', '-'));
						element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
					}
				}
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
			} else {
				if (json['output']) {
					update();
					masked('#popup-order-okno', false);
					$('#popup-checkout-button').remove();
					$('#popup-order-okno .popup-center').html(json['output']);
				}
			}
		}
	});
});
		
function update(target, status, pr_quantity) {
  masked('#popup-order-okno-inner', true);
  var input_val    = $( target ).parent().parent().parent().children('input[name=quantity]').val(),
      quantity     = parseInt(input_val),
      product_id   = $(target).parent().parent().parent().children('input[name=product_id]').val(),
      product_key  = $(target).next().val(),
      urls         = null;

  if (quantity <= 0) {
    masked('#popup-order-okno-inner', false);
    quantity = $(target).parent().parent().parent().children('input[name=quantity]').val(1);
    return;
  }
  {% if (q_zavisimost) %} 
  if (quantity > pr_quantity && pr_quantity > 0 ) {
    masked('#popup-order-okno-inner', false);
	quantity = $(target).parent().parent().parent().children('input[name=quantity]').val(pr_quantity);
    return;
  }
  {% endif %} 

  if (status == 'update') {
    urls = 'index.php?route=revolution/revpopupcartquick&update=' + product_id + '&quantity=' + quantity;
  } else if (status == 'add') {
    urls = 'index.php?route=revolution/revpopupcartquick&add=' + target + '&quantity=1';
  } else {
    urls = 'index.php?route=revolution/revpopupcartquick&remove=' + product_key;
  }
      
  $.ajax({
    url: urls,
    type: 'get',
    dataType: 'html',
    success: function(data) {
      $.ajax({
        url: 'index.php?route=revolution/revpopupcartquick/status_cart',
        type: 'get',
        dataType: 'json',
        success: function( json ) {
          masked('#popup-order-okno-inner', false);
          if (json['total']) {
            $('#top #cart-total').html(json['total']);
			$('#top3 #cart-total').html(json['total']);
			$('#top2 #cart-total').html(json['total']);
			$('#top #cart-total-popup').html(json['total']);
			$('#top3 #cart-total-popup').html(json['total']);
			$('#cart > ul').load('index.php?route=common/cart/info ul li');
          }
          //$('#popup-order-okno-inner').html($(data).find('#popup-order-okno-inner > *'));
        } 
      });
    } 
  });
}
function update_manual(target, product_id, pr_quantity) {
  masked('#popup-order-okno-inner', true);
  var input_val = $(target).val(),
      quantity  = parseInt(input_val);
    
  if (quantity <= 0) {
    masked('#popup-order-okno-inner', false);
    quantity = $(target).val(1);
    return;
  }
  {% if (q_zavisimost) %} 
	  if (quantity > pr_quantity && pr_quantity > 0 ) {
		masked('#popup-order-okno-inner', false);
		quantity = $(target).val(pr_quantity);
		return;
	  }
  {% endif %} 
  
  $.ajax({
    url: 'index.php?route=revolution/revpopupcartquick&update=' + product_id + '&quantity=' + quantity,
    type: 'get',
    dataType: 'html',
    success: function(data) {
      $.ajax({
        url: 'index.php?route=revolution/revpopupcartquick/status_cart',
        type: 'get',
        dataType: 'json',
        success: function(json) {
          masked('#popup-order-okno-inner', false);
          if (json['total']) {
            $('#top #cart-total').html(json['total']);
			$('#top3 #cart-total').html(json['total']);
			$('#top2 #cart-total').html(json['total']);
			$('#top #cart-total-popup').html(json['total']);
			$('#top3 #cart-total-popup').html(json['total']);
            $('#cart > ul').load('index.php?route=common/cart/info ul li');
          }
          $('#popup-order-okno-inner').html($(data).find('#popup-order-okno-inner > *'));
        } 
      });
    } 
  });
}
//--></script>
</div>