<div id="popup-view-wrapper">
  <div class="popup-heading">{{ product_name }}</div>
  <div class="popup-center">
    <div class="row">
	<div class="col-sm-5">
		{% if (thumb or images) %} 
			<ul class="thumbnails main_img_box">
				<div class="image">
					<div style="display: inline-block; position: relative;">
						<img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ product_name }}" class="img-responsive main-image"/>
						{% if (stikers_status) %} 
							<div class="stiker_panel">
								{% if ((quantity > 0 and price_number != 0) or zakaz) %}﻿
									{% if (stiker_spec) %} 
										{% if (special) %} 
											<span class="stiker stiker_spec">{{ '- ' ~ ((price_number-special_number)/price_number*100)|round ~ '%' }}</span>
										{% endif %} 
									{% endif %} 
								{% endif %} 
								{% if (stiker_best) %} 
									<span class="stiker stiker_best">{{ text_catalog_stiker_best }}</span>
								{% endif %} 
								{% if (stiker_last) %} 
									<span class="stiker stiker_last">{{ text_catalog_stiker_last }}</span>
								{% endif %} 
								{% if (stiker_sklad_status) %} 
									<span class="stiker stiker_netu">{{ stiker_sklad_status }}</span>
								{% elseif (stiker_stock) %} 
									{% if (price_number == 0 and not zakaz_price_null) %} 
										<span class="stiker stiker_netu">{{ text_catalog_stiker_netu_2 }}</span>
									{% elseif (quantity < 1 and price_number > 0 and not zakaz) %} 
										<span class="stiker stiker_netu">{{ text_catalog_stiker_netu }}</span>
									{% elseif (quantity < 1 and not zakaz and zakaz_price_null) %} 
										<span class="stiker stiker_netu">{{ text_catalog_stiker_netu }}</span>
									{% elseif (quantity < 1 and zakaz and not zakaz_price_null) %} 
										<span class="stiker stiker_netu">{{ text_catalog_stiker_netu }}</span>
									{% elseif (quantity < 1 and zakaz and zakaz_price_null) %} 
										<span class="stiker stiker_netu">{{ text_catalog_stiker_netu }}</span>
									{% endif %} 
								{% endif %} 
								{% if (stiker_upc) %} 
									<span class="stiker stiker_user">{{ stiker_upc }}</span>
								{% endif %} 
								{% if (stiker_ean) %} 
									<span class="stiker stiker_user">{{ stiker_ean }}</span>
								{% endif %} 
								{% if (stiker_jan) %} 
									<span class="stiker stiker_user">{{ stiker_jan }}</span>
								{% endif %} 
								{% if (stiker_isbn) %} 
									<span class="stiker stiker_user">{{ stiker_isbn }}</span>
								{% endif %} 
								{% if (stiker_mpn) %} 
									<span class="stiker stiker_user">{{ stiker_mpn }}</span>
								{% endif %} 
							</div>
						{% endif %} 
					</div>
				</div>
				{% if (images) %} 
					{% if (images_slider) %} 
					<div id="owl-images-popup" class="owl-carousel owl-theme images-additional">
						<div class="item">
						<a img_src="{{ thumb }}" title="{{ heading_title }}"><img class="lazyOwl" data-src="{{ thumb_small }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-number="0"/></a>
						</div>
						{% set number = 1 %}
						{% for image in images %} 
						<div class="item">
						<a img_src="{{ image['popup'] }}" title="{{ heading_title }}"><img class="lazyOwl" data-src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-number="{{ number }}"/></a>
						</div>
						{% set number = number + 1 %}
						{% endfor %} 
					</div>
					{% else %} 
					<div class="images-additional">
						<a class="thumbnail" img_src="{{ thumb }}" title="{{ heading_title }}">
							<img src="{{ thumb_small }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-number="0"/>
						</a>
						{% set number = 1 %}
						{% for image in images %} 
							<a class="thumbnail" img_src="{{ image['popup'] }}" title="{{ heading_title }}">
								<img src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" data-number="{{ number }}"/>
							</a>
						{% set number = number + 1 %}
						{% endfor %} 
					</div>
					{% endif %} 
					<script><!--
					$('.images-additional img').click(function(){
						newsrc = $(this).parent().attr('img_src');
						$('.main-image').attr('src', newsrc);
						return false;
					});
					var owl = $("#owl-images-popup");
						owl.owlCarousel({
						responsiveBaseWidth: '.container',
						itemsCustom: [[0, 2], [448, 2], [650, 3], [750, 3], [1000, 4]],
						navigation : true,
						navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
						pagination: false,
						lazyLoad: true
					}); 
					//--></script>
				{% endif %} 
			</ul>
		{% endif %} 
	</div>
<div class="col-sm-7">
            <ul class="list-unstyled">
			{% if (revtheme_product_all['short_desc'] and short_description) %} 
				<div class="short_description">{{ short_description }}</div>
			{% endif %} 
			{% if (review_status) %} 
				<div class="rating">
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_product_rating }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right">
					{% set i = 1 %}{% for i in i..5 %} 
					{% if (rating < i) %} 
					<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
					{% else %} 
					<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
					{% endif %} 
					{% endfor %} 
					<sup>{{ reviews }}</sup>
					</div></li>
				</div>
			{% endif %} 
			{% if (manufacturer_status) %} 
				{% if (manufacturer) %} 
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_manufacturer }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right"><a href="{{ manufacturers }}">{{ manufacturer }}</a></div></li>
				{% endif %} 
			{% endif %} 
			{% if (model_status) %} 
				{% if (model != '') %} 
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_model }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right"><span class="pr_model">{{ model }}</span></div></li>
				{% endif %} 
			{% endif %} 
			{% if (sku_status) %} 
				{% if (sku != '') %} 
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_product_artikul }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right">{{ sku }}</div></li>
				{% endif %} 
			{% endif %} 
			{% if (ostatok_status) %} 
				<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_product_dostupno }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right">{{ stock }}</div></li>
			{% else %} 
				<span class="hidden pr_quantity">{{ quantity }}</span>
			{% endif %} 
			{% if (weight_status) %} 
				{% if (weight > 0) %} 
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_product_ves }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right"><span class="pr_weight" data-weight="{{ weight_value }}" data-weight-unit="{{ weight_unit }}">{{ weight }}</span> {{ weight_format }}</div></li>
				{% endif %} 
			{% endif %} 
			{% if (razmers) %} 
				{% if (length > 0 or width > 0 or height > 0) %} 
					<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ text_product_razmers }}</span><div class="dotted-line_line"></div></div><div class="dotted-line_right">{% if (length > 0) %}{{ length }}{% else %} - {% endif %} x {% if (width > 0) %}{{ width }}{% else %} - {% endif %} x {% if (height > 0) %}{{ height }}{% else %} - {% endif %} {{ length_format }}</div></li>
				{% endif %} 
			{% endif %}			
			{% if (atributs) %} 
				{% for attribute_group in attribute_groups %} 
						{% for attribute in attribute_group['attribute'] %} 
							{% if (attribute['text'] != '') %}	  
								<li class="dotted-line"><div class="dotted-line_left"><span class="dotted-line_title">{{ attribute['name'] }}:</span><div class="dotted-line_line"></div></div><div class="dotted-line_right">{{ attribute['text'] }}</div></li>
							{% endif %} 
						{% endfor %} 
				{% endfor %} 
			{% endif %} 
            </ul>
		  
		{% if (zakaz_price_null or price_number > 0) %} 
		    <div class="well well-sm product-info">
				{% if (options) %} 
					{% if (revtheme_product_all['options_buy'] and options_buy) %} 
						<div class="options_buy">
							<table class="table">
								<thead>
									<tr>
										{% if (revtheme_product_all['options_buy_foto']) %} 
											<td class="text-left">
												{{ text_foto_option }} 
											</td>
										{% endif %} 
										<td class="text-left">
										{% if (revtheme_product_all['options_buy_optionname_one']) %} 
											{% for option in options %} 
											{{ option['name'] }} 
											{% endfor %} 
										{% else %} 
											{{ text_option_option }} 
										{% endif %} 
										</td>
										{% if (revtheme_product_all['options_buy_model']) %} 
											<td class="text-center options_buy_model">{{ text_model_option }}</td>
										{% endif %} 
										<td class="text-center options_buy_price">{{ text_price_option }}</td>
										{% if (revtheme_product_all['options_buy_quantity']) %} 
											<td class="text-center options_buy_dostupno">{{ text_dostupno_option }}</td>
										{% endif %} 
										<td class="text-center options_buy_quantity">{{ text_quantity_option }}</td>
										<td class="text-center"></td>
									</tr>
								</thead>
								<tbody>
									{% for option in options %} 
										{% if (revtheme_product_all['options_buy_optionname'] and not revtheme_product_all['options_buy_optionname_one']) %} 
											<tr>
											{% if (not revtheme_product_all['options_buy_quantity']) %} 
												{% set colspan_option_name = 5 %}
											 {% elseif (not revtheme_product_all['options_buy_quantity'] and not revtheme_product_all['options_buy_quantity']) %} 
												{% set colspan_option_name = 4 %}
											 {% else %} 
												{% set colspan_option_name = 6 %}
											{% endif %}  
												<td colspan="{{ colspan_option_name }}" class="text-left">
													<b style="font-size:13px">{{ option['name'] }}:</b>
												</td>
											</tr>
										{% endif %} 
										{% for option_value in option['product_option_value'] %} 
											{% if (option_value['price'] > 0 and option_value['quantity'] > 0) %} 
												<tr class="pro_{{ option_value['product_option_value_id'] }}">
												<input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" />
													{% if (revtheme_product_all['options_buy_foto']) %} 
														<td class="text-left">
															{% if (option_value['image']) %} 
																<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail img-responsive hidden-xs" />
															{% endif %} 
														</td>
													{% endif %} 
													<td class="text-left">
														{% if (revtheme_product_all['options_buy_click']) %} 
															<div class="radio">
																<label for="optb_{{ product_id }}_{{ option_value['product_option_value_id'] }}">
																	<input onclick="update_options_buy({{ product_id }},{{ option_value['product_option_value_id'] }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="optb_{{ product_id }}_{{ option_value['product_option_value_id'] }}" />
																	<span class="options_buy_image_title">{{ option_value['name'] }}</span>					
																</label>
															</div>
														{% else %}	
															{{ option_value['name'] }} 
														{% endif %} 
													</td>
													{% if (revtheme_product_all['options_buy_model']) %} 
														<td class="text-center options_buy_model">
															{% if (option_value['model']) %}{{ option_value['model'] }}{% else %}{{ model }}{% endif %} 
														</td>
													{% endif %} 
													<td class="text-center options_buy_price">
														{{ option_value['price'] }} 
													</td>
													{% if (revtheme_product_all['options_buy_quantity']) %} 
														<td class="text-center options_buy_dostupno">
															{{ option_value['quantity'] }} {{ shtuki }} 
															<input type="hidden" class="option_value_quantity" value='{{ minimum }}'>
														</td>
													{% endif %} 
													<td class="text-center options_buy_quantity">
														<div class="number">
															<div class="frame-change-count">
																<div class="btn-plus">
																	<button type="button" onclick="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'+',{{ minimum }},{{ option_value['quantity'] }});">+</button>
																</div>
																<div class="btn-minus">
																	<button type="button" onclick="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'-',{{ minimum }},{{ option_value['quantity'] }});">-</button>
																</div>
															</div>
															<input type="text" name="quantity" class="plus-minus" value='{{ minimum }}' onchange="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'=',{{ minimum }},{{ option_value['quantity'] }});" onkeyup="validate_pole_product_options(this,{{ option_value['product_option_value_id'] }},'=',{{ minimum }},{{ option_value['quantity'] }});">
														</div>
													</td>
													<td class="text-center">
														<div class="cart">
															<a onclick="get_revpopup_cart_option({{ option['product_option_id'] }},{{ option_value['product_option_value_id'] }},get_revpopup_cart_pr_option_quantity('{{ option_value['product_option_value_id'] }}'),{{ product_id }});return false;"><i class="fa fa-border fa-shopping-basket"></i></a>
														</div>
													</td>
												</tr>
											{% endif %} 
										{% endfor %} 
									{% endfor %}  
								</tbody>
							</table>
							<script><!--
								function validate_pole_product_options (val, product_option_value_id, znak, minimumvalue, maximumvalue) {
									val.value = val.value.replace(/[^\d,]/g, '');
									if (val.value == '') val.value = minimumvalue;
									if (maximumvalue < 1) maximumvalue = 9999;
									input_val = $('#popup-view-wrapper .pro_'+product_option_value_id+' .plus-minus');
									quantity = parseInt(input_val.val());
									{% if (q_zavisimost) %} 
									if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
									else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
									else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
									if (quantity < 1 || quantity < minimumvalue) {
										input_val.val(minimumvalue);
										val.value = minimumvalue;
									} else if (quantity > maximumvalue) {
										input_val.val(maximumvalue);
										val.value = maximumvalue;
									}
									{% else %} 
									if(znak=='+') input_val.val(quantity+1);
									else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
									else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
									if (quantity < 1 || quantity < minimumvalue) {
										input_val.val(minimumvalue);
										val.value = minimumvalue;
									}
									{% endif %} 
								}
								function get_revpopup_cart_pr_option_quantity (product_option_value_id) {
									input_val = $('#popup-view-wrapper .pro_'+product_option_value_id+' .plus-minus').val();
									quantity  = parseInt(input_val);
									return quantity;
								}
							//--></script>
						</div>
					 {% else %} 
						<div class="options_no_buy">
							{% for option in options %} 
								{% if (option['type'] == 'select') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
										<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
										<select onchange="update_prices_product_popup({{ product_id }},{{ minimum }});" name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
											<option value="">{{ text_select }}</option>
											{% for option_value in option['product_option_value'] %} 
												<option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
													{% if (opt_price) %} 
														{% if (option_value['price']) %} 
															<span class="option_price">({{ option_value['price_prefix'] }}{{ option_value['price'] }})</span>
														{% endif %} 
													{% endif %} 
												</option>
											{% endfor %} 
										</select>
									</div>
								{% endif %} 
								{% if (option['type'] == 'radio') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
										<label class="control-label">{{ option['name'] }}:</label>
										<div id="input-option{{ option['product_option_id'] }}">
											{% for option_value in option['product_option_value'] %} 
												<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
													<input onchange="update_prices_product_popup({{ product_id }},{{ minimum }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
													<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
														{% if (option_value['image']) %} 
															<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
														{% else %} 
															<span>{{ option_value['name'] }}</span>
														{% endif %} 
														{% if (option_value['price']) %} 
															<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
														{% endif %} 
														<i class="fa fa-check"></i>	
													</label>
												</div>
											{% endfor %} 
										</div>
									</div>
								{% endif %} 
								{% if (option['type'] == 'checkbox') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
										<label class="control-label">{{ option['name'] }}:</label>
										<div id="input-option{{ option['product_option_id'] }}">
											{% for option_value in option['product_option_value'] %} 
												<div class="radio checkbox{% if (option['opt_image']) %} opt_with_img{% endif %}">
													<input onchange="update_prices_product_popup({{ product_id }},{{ minimum }});" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
													<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
														{% if (option_value['image']) %} 
															<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
														{% else %} 
															<span>{{ option_value['name'] }}</span>
														{% endif %} 
														{% if (option_value['price']) %} 
															<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
														{% endif %} 
														<i class="fa fa-check"></i>
													</label>
												</div>
											{% endfor %} 
										</div>
									</div>
								{% endif %} 
								{% if (option['type'] == 'image') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
										<label class="control-label">{{ option['name'] }}:</label>
										<div id="input-option{{ option['product_option_id'] }}">
											{% for option_value in option['product_option_value'] %} 
												<div class="radio{% if (option['opt_image']) %} opt_with_img{% endif %}">
													<input onchange="update_prices_product_popup({{ product_id }},{{ minimum }});" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}" />
													<label {% if (option['opt_image']) %}data-toggle="tooltip" title="{{ option_value['name'] }}"{% endif %} class="btn btn-default {% if (option_value['image']) %}label-in-img{% endif %}" for="{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}">
														{% if (option_value['image']) %} 
															<img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {% if (not option['opt_image']) %}{{ option_value['name'] }}{% endif %} 
														{% else %} 
															<span>{{ option_value['name'] }}</span>
														{% endif %} 
														{% if (option_value['price']) %} 
															<span class="option_price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
														{% endif %} 
														<i class="fa fa-check"></i>	
													</label>
												</div>
											{% endfor %} 
										</div>
									</div>
								{% endif %} 
								{% if (option['type'] == 'text') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
									  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
									</div>
								{% endif %} 
								{% if (option['type'] == 'textarea') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
									  <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
									</div>
								{% endif %} 
								{% if (option['type'] == 'file') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label">{{ option['name'] }}:</label>
									  <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
									  <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
									</div>
								{% endif %} 
								{% if (option['type'] == 'date') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
									  <div class="input-group date">
										<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
										<span class="input-group-btn">
										<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
										</span></div>
									</div>
								{% endif %} 
								{% if (option['type'] == 'datetime') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
									  <div class="input-group datetime">
										<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
										<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										</span></div>
									</div>
								{% endif %} 
								{% if (option['type'] == 'time') %} 
									<div class="form-group{{ option['required'] ? ' required' : '' }}">
									  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}:</label>
									  <div class="input-group time">
										<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
										<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										</span></div>
									</div>
								{% endif %} 
							{% endfor %} 
						</div>
						<hr>
					{% endif %} 
				{% endif %}  
				{% if ((options and not revtheme_product_all['options_buy']) or not options_buy) %} 
				{% if (recurrings) %} 
				<hr>
				<h3>{{ text_payment_recurring }}</h3>
				<div class="form-group required">
				  <select name="recurring_id" class="form-control">
					<option value="">{{ text_select }}</option>
					{% for recurring in recurrings %} 
					<option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
					{% endfor %} 
				  </select>
				  <div class="help-block" id="recurring-description"></div>
				</div>
				{% endif %} 
				<div class="form-group">
					{% if (price) %} 
					{% if (price_number > 0 or zakaz_price_null) %} 
					  <div class="list-unstyled">
						<span class="prq_title hidden-xs">{{ text_product_all_stoimost }}</span>
						{% if (not special) %} 
						<span class="update_price">{{ price }}</span>
						<span class="update_special dnone"></span>
						{% else %} 
						<span class="update_price oldprice">{{ price }}</span>
						<span class="update_special">{{ special }}</span>
						{% if (special_end) %} 
							<div class="countdown">{{ text_countdown }} <span id="countdown"></span></div>
							<script><!--
								var names = {
								days:      JSON.parse(JSON.stringify({1:" день ", 2:" дня ", 3: " дней "})),
								hours:     JSON.parse(JSON.stringify({1:" час ", 2: " часа ", 3: " часов "})),
								minutes:   JSON.parse(JSON.stringify({1:" минута ", 2: " минуты ", 3: " минут "})),
								seconds:   JSON.parse(JSON.stringify({1:" секунда ", 2: " секунды ", 3: " секунд "})),
								};
								var day_name = names['days'][3];
								var hur_name = names['hours'][3];
								var min_name = names['minutes'][3];
								var sec_name = names['seconds'][3];
								var today = new Date();
								function parseDate(input) {
								var parts = input.match(/(\d+)/g);
								return new Date(parts[0], parts[1]-1, parts[2]);
								}
								var BigDay = parseDate('{{ special_end }}');
								var timeLeft = (BigDay.getTime() - today.getTime());
								var e_daysLeft = timeLeft / 86400000;
								var daysLeft = Math.floor(e_daysLeft);
								var slice_day = String(daysLeft).slice(-1);
								if(parseInt(slice_day) == 1 && (parseInt(daysLeft) < 10 || parseInt(daysLeft) > 20)){
									day_name = names['days'][1];
								}else if((parseInt(slice_day) == 2 || parseInt(slice_day) == 3 || parseInt(slice_day) == 4) && (parseInt(daysLeft) < 10 || parseInt(daysLeft) > 20)){
									day_name = names['days'][2];
								}else{
									day_name = names['days'][3];
								}
								var e_hrsLeft = (e_daysLeft - daysLeft)*24;
								var hrsLeft = Math.floor(e_hrsLeft);
								var slice_hours = String(hrsLeft).slice(-1);
								if(parseInt(slice_hours) == 1 && (parseInt(hrsLeft) < 10 || parseInt(hrsLeft) > 20)){
									hur_name = names['hours'][1];
								}else if((parseInt(slice_hours) == 2 || parseInt(slice_hours) == 3 || parseInt(slice_hours) == 4)  && (parseInt(hrsLeft) < 10 || parseInt(hrsLeft) > 20)){
									hur_name = names['hours'][2];
								}else{
									hur_name = names['hours'][3];
								}
								var e_minsLeft = (e_hrsLeft - hrsLeft)*60;
								var minsLeft = Math.floor(e_minsLeft);
								var slice_min = String(minsLeft).slice(-1);
								if(parseInt(slice_min) == 1 && (parseInt(minsLeft) < 10 || parseInt(minsLeft) > 20)){
									min_name = names['minutes'][1];
								}else if((parseInt(slice_min) == 2 || parseInt(slice_min) == 3 || parseInt(slice_min) == 4) && (parseInt(minsLeft) < 10 || parseInt(minsLeft) > 20)){
									min_name = names['minutes'][2];
								}else{
									min_name = names['minutes'][3];
								}
								if (BigDay.getTime() > today.getTime() ){
									if (daysLeft <= 0) {
										document.getElementById("countdown").innerHTML = hrsLeft+hur_name+minsLeft+min_name;
									} else {
										document.getElementById("countdown").innerHTML = daysLeft+day_name+hrsLeft+hur_name+minsLeft+min_name;
									}
									if (daysLeft <= 0 && hrsLeft <= 0) {
										document.getElementById("countdown").innerHTML = minsLeft+min_name;
									} else {
										document.getElementById("countdown").innerHTML = daysLeft+day_name+hrsLeft+hur_name+minsLeft+min_name;
									}
								}
							//--></script>
						{% endif %} 
						{% endif %} 
						{% if (points) %} 
						<div class="reward-product">{{ text_points }} <span class="pr_points">{{ points }}</span></div>
						{% endif %} 
					  </div>
					{% else %} 
					{% if (zakaz) %} 
					<div class="list-unstyled">{{ text_catalog_price_na_zakaz }}</div>
					{% endif %} 
					{% endif %}  
					{% endif %} 
					<div class="nalich">
						{% if (bonusbals_status) %} 
							{% if (reward) %} 
								<div class="reward"><span data-toggle="tooltip" data-placement="top" title="{{ text_product_bonus_tooltip }}">+ {{ reward }} {{ text_product_bonusov }}</span></div>
							{% endif %} 
						{% endif %}	
						{% if (sklad_status) %} 
							{% if (quantity > 0) %}<span class="text-success bg-success"><i class="fa fa-check" aria-hidden="true"></i> {{ text_product_instock }}</span>{% else %}<span class="text-danger bg-danger"><i class="fa fa-times" aria-hidden="true"></i> {{ stock_st }}</span>{% endif %} 
						{% endif %} 
					</div>
				</div>
				{% endif %} 
				{% if (discounts and not special) %} 
				<div class="discounts">
				<hr>
				{% for discount in discounts %} 
				<span>{{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}</span><br/>
				{% endfor %} 
				</div>
				{% endif %} 
				{% if (minimum > 1) %} 
				<div class="clearfix"></div>
				<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}<input type="hidden" class="minimumvalue" value="{{ minimum }}"></div>
				{% endif %} 
				{% if ((options and not revtheme_product_all['options_buy']) or not options_buy) %} 
					{% if ((price_number > 0 or zakaz_price_null) and (zakaz or quantity > 0)) %} 
						<div class="form-group pokupka">
							<div class="pop_left">
								<label class="control-label prq_title hidden-xs">{{ text_product_kolichvo }}</label>
								<div class="number">
									<div class="frame-change-count">
										<div class="btn-plus">
											<button type="button" onclick="validate_pole_popup(this,{{ product_id }},'+',{{ minimum }},{{ quantity }});">+</button>
										</div>
										<div class="btn-minus">
											<button type="button" onclick="validate_pole_popup(this,{{ product_id }},'-',{{ minimum }},{{ quantity }});">-</button>
										</div>
									</div>
									<input type="text" name="quantity" class="plus-minus" value='{{ minimum }}' onchange="validate_pole_popup(this);" onkeyup="validate_pole_popup(this,{{ product_id }},'=',{{ minimum }},{{ quantity }});">
								</div>
							{% if (rev_srav_prod or rev_wish_prod) %} {% set button_cart_class = 'prlistb hidden-xs hidden-sm hidden-md hidden-lg' %} {% else %} {% set button_cart_class = 'prlistb hidden-xs' %} {% endif %}
							<button type="button" id="button-cart" data-toggle="tooltip" title="{{ button_cart }}" onclick="get_revpopup_cart({{ product_id }}, 'popup_product',get_revpopup_cart_quantity_popup('{{ product_id }}'));" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg"><i class="fa fa-shopping-basket"><span class="{{ button_cart_class }}">{{ button_cart }}</span></i></button>
							</div>
							{% if (rev_srav_prod or rev_wish_prod) %} 
								<div class="pop_right">
								{% if (rev_wish_prod) %} 
									<a class="{{ wishlist_class }} wishlist" data-toggle="tooltip" onclick="wishlist.add('{{ product_id }}');" title="{{ button_wishlist }}"><i class="fa fa-border fa-heart"></i></a>
								{% endif %} 
								{% if (rev_srav_prod) %} 
									<a class="{{ compare_class }} compare" data-toggle="tooltip" onclick="compare.add('{{ product_id }}', '{{ brand }}');" title="{{ button_compare }}"><i class="fa fa-border fa-bar-chart-o"></i></a>
								{% endif %} 
								</div>
							{% endif %} 
						</div>
					{% else %} 
						{% if (predzakaz_button) %} 
							<div class="form-group pokupka" style="padding: 15px 10px 15px 10px;">
								<div class="pop_left">
									<input type="hidden" name="quantity" class="plus-minus" value="{{ minimum }}">
									<button type="button" id="button-cart" onclick="get_revpopup_pre_predzakaz({{ product_id }});"><i class="fa fa-shopping-basket predzakaz"></i>{{ text_predzakaz }}</button>
								</div>
							</div>
						{% else %} 
							<input type="hidden" name="quantity" class="plus-minus" value="{{ minimum }}">
						{% endif %} 
					{% endif %} 
				{% endif %} 
			</div>
		{% endif %}    
        </div>
	{% if (description or not atributs) %} 
		<div class="col-sm-12">
		{% if (revtheme_product_all['pr_tabs']) %} 
			<ul class="nav nav-tabs">
				{% if (description) %} 
				<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
				{% endif %} 
				{% if (not atributs) %} 
				{% if (attribute_groups) %} 
				<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
				{% endif %} 
				{% endif %} 
				<!--
				<li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
				-->
			</ul>
			<div class="tab-content">
			  {% if (description) %} 
			  <div class="tab-pane active" id="tab-description">{{ description }}</div>
			  {% endif %} 
			  <div class="tab-pane" id="tab-specification">
				{% if (not atributs) %} 
				{% if (attribute_groups) %} 
				<div class="tab-pane" id="tab-specification">
				  <table class="table attrbutes mb0">
					{% if (atributs_group_name) %} 
						{% for attribute_group in attribute_groups %} 
						<thead>
							<tr>
							<td colspan="2">{{ attribute_group['name'] }}</td>
							</tr>
						</thead>		
							<tbody>
							{% for attribute in attribute_group['attribute'] %} 
							<tr>
							<td>{{ attribute['name'] }}</td>
							<td>{{ attribute['text'] }}</td>
							</tr>
							{% endfor %} 
						</tbody>
						{% endfor %} 
					{% else %}	
						<tbody>
						{% for attribute_group in attribute_groups %} 
						{% for attribute in attribute_group['attribute'] %} 
						<tr>
						<td>{{ attribute['name'] }}</td>
						<td>{{ attribute['text'] }}</td>
						</tr>
						{% endfor %} 
						{% endfor %} 
						</tbody>
					{% endif %} 
				  </table>
				</div>
				{% endif %} 
				{% endif %} 
			  </div>
			  <!--
			  <div class="tab-pane" id="tab-review">   
				  <div id="review"></div>           
			  </div>
			  -->
			</div>
		{% else %} 
			<div class="alt_pt_descript">
				{% if (description) %} 
					<div class="rev_slider">
						<div class="heading_h"><h3>{{ tab_description }}</h3></div>
						{{ description }} 
					</div>
				{% endif %} 
				{% if (not atributs) %} 
					{% if (attribute_groups) %} 
						<div class="tab-specification rev_slider">
							<div class="heading_h"><h3>{{ tab_attribute }}</h3></div>
							{% if (atributs_group_name) %} 
							{% for attribute_group in attribute_groups %} 
								<table class="table attrbutes mb0">
								<thead>
									<tr>
									<td colspan="2">{{ attribute_group['name'] }}</td>
									</tr>
								</thead>		
									<tbody>
									{% for attribute in attribute_group['attribute'] %} 
									<tr itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
									<td itemprop="name">{{ attribute['name'] }}</td>
									<td itemprop="value">{{ attribute['text'] }}</td>
									</tr>
									{% endfor %} 
								</tbody>
								</table>
								{% endfor %} 
							{% else %}	
								<table class="table attrbutes mb0">
								<tbody>
								{% for attribute_group in attribute_groups %} 
								{% for attribute in attribute_group['attribute'] %} 
								<tr itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
								<td itemprop="name">{{ attribute['name'] }}</td>
								<td itemprop="value">{{ attribute['text'] }}</td>
								</tr>
								{% endfor %} 
								{% endfor %} 
								</tbody>
								</table>
							{% endif %} 
						</div>
					{% endif %} 
				{% endif %} 
				<!--
				{% if (review_status) %} 
					<div class="rev_slider">
						<div class="heading_h"><h3>{{ tab_review }}</h3></div>
						<div id="review"></div>
					</div>
				{% endif %} 
				-->
			</div>
		{% endif %} 
		</div>
	{% endif %} 
    </div>    
  </div>
  <div class="popup-footer">
    <button onclick="$.magnificPopup.close();">{{ button_shopping }}</button>
    <a id="popup-view-button" href="{{ view_product_link }}">{{ button_view }}</a>
  </div>

<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script><!--
{% if (revtheme_product_all['option_f_auto']) %} 
	var pr_opts_pr = $('#popup-view-wrapper .product-info .options_no_buy .form-group');
	pr_opts_pr.find('input:first').each(function() {
		this.checked = true;
		this.onchange();
	});
	pr_opts_pr.find('select:first').each(function() {
		this.onchange();
	});
{% endif %} 
function get_revpopup_pre_predzakaz(product_id) {
$.magnificPopup.close();
setTimeout(function() {
get_revpopup_predzakaz(product_id);
}, 300);
}

$(document).ready(function(){ 
	$('#popup-view-wrapper .nav.nav-tabs li:first-child a').tab('show');
});

$('.date').datetimepicker({
  pickTime: false,
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  pickDate: false,
});

$(document).on('click', 'button[id^=\'button-upload\']', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').attr('value', json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
$('#button-cart').on('click', function() {
	$('.tooltip').hide();
});

{% if (minimum > 1 and recalc_price) %} 
	update_quantity_popup({{ product_id }},{{ minimum }});
{% endif %} 
function get_revpopup_cart_quantity_popup() {
	input_val = $('#popup-view-wrapper .plus-minus').val();
	quantity  = parseInt(input_val);
	return quantity;
}
function validate_pole_popup(val, product_id, znak, minimumvalue, maximumvalue) {
	val.value = val.value.replace(/[^\d,]/g, '');
	if (val.value == '') val.value = minimumvalue;
	maximumvalue = Number($('#popup-view-wrapper .pr_quantity').text());
	input_val = $('#popup-view-wrapper .plus-minus');
	quantity = parseInt(input_val.val());
	{% if (q_zavisimost) %} 
	if(znak=='+' && input_val.val() < maximumvalue) input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() < maximumvalue && input_val.val() < maximumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	} else if (quantity > maximumvalue) {
		input_val.val(maximumvalue);
		val.value = maximumvalue;
	}
	{% else %} 
	if(znak=='+') input_val.val(quantity+1);
	else if(znak=='-' && input_val.val() > minimumvalue) input_val.val(quantity-1);
	else if(znak=='=' && input_val.val() > minimumvalue) input_val.val(input_val.val());
	if (quantity < 1 || quantity < minimumvalue) {
		input_val.val(minimumvalue);
		val.value = minimumvalue;
	}
	{% endif %} 

	update_quantity_popup(product_id, input_val.val());
}
function update_quantity_popup(product_id, quantity) {
	var minimumvalue = {{ minimum }};
	if (quantity == 0 || quantity < minimumvalue) {
		quantity = $('#popup-view-wrapper .plus-minus').val(minimumvalue);
		return;
	} else if (quantity < 1) {
		quantity = 1;
		return;
	}
	
	data = $('#popup-view-wrapper input[type=\'text\'], #popup-view-wrapper input[type=\'hidden\'], #popup-view-wrapper input[type=\'radio\']:checked, #popup-view-wrapper input[type=\'checkbox\']:checked, #popup-view-wrapper select, #popup-view-wrapper textarea'),
	$.ajax({
	  url: 'index.php?route=product/product/update_prices',
	  type: 'post',
	  dataType: 'json',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  success: function(json) {
		
		{% if (recalc_price) %} 
		
			{% if (points) %} 
				var end_quantity = json['points'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_quantity = parseFloat($('#popup-view-wrapper .pr_points').html().replace(/\s*/g,''));
					$({val:start_quantity}).animate({val:end_quantity}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .pr_points').html(number_format(val, product_id));
						}
					});
				{% else %} 
					$('#popup-view-wrapper .pr_points').html(number_format(end_quantity, product_id));
				{% endif %} 
			{% endif %} 
		
			{% if (weight_status) %} 
				var weight = json['weight'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_weight = parseFloat($('#popup-view-wrapper .pr_weight').attr('data-weight'));
					$({val:start_weight}).animate({val:weight}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .pr_weight').html(weight_format(val));
						}
					});
					$('#popup-view-wrapper .pr_weight').attr('data-weight', json['weight']);
				{% else %} 
					$('#popup-view-wrapper .pr_weight').html(weight_format(weight));
				{% endif %} 
			{% endif %} 
		  
			{% if (price_number > 0 or zakaz_price_null) %} 
				{% if (discounts and not special) %} 
					var price = json['special_n'];
				{% else %} 
					var price = json['price_n'];
				{% endif %} 
				
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_price = parseFloat($('#popup-view-wrapper .update_price').html().replace(/\s*/g,''));
					$({val:start_price}).animate({val:price}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .update_price').html(price_format(val));
						}
					});
				{% else %} 
					$('#popup-view-wrapper .update_price').html(price_format(price));
				{% endif %} 
				
				var special = json['special_n'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_special = parseFloat($('#popup-view-wrapper .update_special').html().replace(/\s*/g,''));
					$({val:start_special}).animate({val:special}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .update_special').html(price_format(val));
						}
					});
				{% else %} 
					$('#popup-view-wrapper .update_special').html(price_format(special));
				{% endif %} 
			{% endif %} 
		
		{% endif %} 
	  } 
	});
}
function update_prices_product_popup(product_id, minimumvalue) {
	input_val = $('#popup-view-wrapper .plus-minus').val();
	if (input_val > minimumvalue) {
		input_val = minimumvalue;
		$('#popup-view-wrapper .plus-minus').val(minimumvalue);
	}
	{% if (recalc_price) %} 
	quantity = parseInt(input_val);
	{% else %} 
	quantity = 1;
	{% endif %} 
	data = $('#popup-view-wrapper input[type=\'text\'], #popup-view-wrapper input[type=\'hidden\'], #popup-view-wrapper input[type=\'radio\']:checked, #popup-view-wrapper input[type=\'checkbox\']:checked, #popup-view-wrapper select, #popup-view-wrapper textarea');
	$.ajax({
	  type: 'post',
	  url:  'index.php?route=product/product/update_prices',
	  data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
	  dataType: 'json',
	  success: function(json) {
	  
		$('#popup-view-wrapper .thumbnails img.main-image').attr('src', json['opt_image_2']);
		{% if (images_slider) %} 
		$('#popup-view-wrapper .thumbnails .images-additional .owl-item:first-child a').attr('img_src', json['opt_image_2']);
		$('#popup-view-wrapper .thumbnails .images-additional .owl-item:first-child a img').attr('src', json['opt_image_2']).css('width', {{ config_image_additional_width }}).css('height', {{ config_image_additional_height }});
		{% else %} 
		$('#popup-view-wrapper .thumbnails .images-additional a:first-child').attr('img_src', json['opt_image_2']);
		$('#popup-view-wrapper .thumbnails .images-additional a:first-child img').attr('src', json['opt_image_2']).css('width', {{ config_image_additional_width }}).css('height', {{ config_image_additional_height }});
		{% endif %} 

		var end_quantity = json['option_quantity'];
		{% if (revtheme_product_all['recalc_price_animate']) %} 
			var start_quantity = parseFloat($('#popup-view-wrapper .pr_quantity').html().replace(/\s*/g,''));
			$({val:start_quantity}).animate({val:end_quantity}, {
				duration: 500,
				easing: 'swing',
				step: function(val) {
					$('#popup-view-wrapper .pr_quantity').html(number_format(val, product_id));
				}
			});
		{% else %} 
			$('#popup-view-wrapper .pr_quantity').html(number_format(end_quantity, product_id));
		{% endif %} 
		
		{% if (points) %} 
			var end_quantity = json['points'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_quantity = parseFloat($('#popup-view-wrapper .pr_points').html().replace(/\s*/g,''));
				$({val:start_quantity}).animate({val:end_quantity}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#popup-view-wrapper .pr_points').html(number_format(val, product_id));
					}
				});
			{% else %} 
				$('#popup-view-wrapper .pr_points').html(number_format(end_quantity, product_id));
			{% endif %} 
		{% endif %} 
		
		{% if (model_status) %} 
			$('#popup-view-wrapper .pr_model').html(json['opt_model']);
		{% endif %} 

		{% if (weight_status) %} 
			var weight = json['weight'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_weight = parseFloat($('#popup-view-wrapper .pr_weight').attr('data-weight'));
				$({val:start_weight}).animate({val:weight}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#popup-view-wrapper .pr_weight').html(weight_format(val));
					}
				});
				$('#popup-view-wrapper .pr_weight').attr('data-weight', json['weight']);
			{% else %} 
				$('#popup-view-wrapper .pr_weight').html(weight_format(weight));
			{% endif %} 
		{% endif %} 
	  
		{% if (price_number > 0 or zakaz_price_null) %} 
			{% if (discounts and not special) %} 
				var price = json['special_n'];
			{% else %} 
				var price = json['price_n'];
			{% endif %} 
			
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_price = parseFloat($('#popup-view-wrapper .update_price').html().replace(/\s*/g,''));
				$({val:start_price}).animate({val:price}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#popup-view-wrapper .update_price').html(price_format(val));
					}
				});
			{% else %} 
				$('#popup-view-wrapper .update_price').html(price_format(price));
			{% endif %} 
			
			var special = json['special_n'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_special = parseFloat($('#popup-view-wrapper .update_special').html().replace(/\s*/g,''));
				$({val:start_special}).animate({val:special}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#popup-view-wrapper .update_special').html(price_format(val));
					}
				});
			{% else %} 
				$('#popup-view-wrapper .update_special').html(price_format(special));
			{% endif %} 
		{% endif %} 
	  }
	});
}
{% if (revtheme_product_all['options_buy_click']) %} 
	function update_options_buy(product_id, option) {
		data = $('#popup-view-wrapper .options_buy .pro_'+option+' input[type=\'text\'], #popup-view-wrapper .options_buy .pro_'+option+' input[type=\'hidden\'], #popup-view-wrapper .options_buy .pro_'+option+' input[type=\'radio\']:checked, #popup-view-wrapper .options_buy .pro_'+option+' input[type=\'checkbox\']:checked, #popup-view-wrapper .options_buy .pro_'+option+' select, #popup-view-wrapper .options_buy .pro_'+option+' textarea');
		$.ajax({
		  type: 'post',
		  url:  'index.php?route=product/product/update_prices',
		  data: data.serialize() + '&product_id=' + product_id,
		  dataType: 'json',
		  success: function(json) {
			  
			$('#popup-view-wrapper .thumbnails img.main-image').attr('src', json['opt_image_2']);
			{% if (images_slider) %} 
			$('#popup-view-wrapper .thumbnails .images-additional .owl-item:first-child a').attr('img_src', json['opt_image_2']);
			$('#popup-view-wrapper .thumbnails .images-additional .owl-item:first-child a img').attr('src', json['opt_image_2']).css('width', {{ config_image_additional_width }}).css('height', {{ config_image_additional_height }});
			{% else %} 
			$('#popup-view-wrapper .thumbnails .images-additional a:first-child').attr('img_src', json['opt_image_2']);
			$('#popup-view-wrapper .thumbnails .images-additional a:first-child img').attr('src', json['opt_image_2']).css('width', {{ config_image_additional_width }}).css('height', {{ config_image_additional_height }});
			{% endif %} 
			
			var end_quantity = json['option_quantity'];
			{% if (revtheme_product_all['recalc_price_animate']) %} 
				var start_quantity = parseFloat($('#popup-view-wrapper .pr_quantity').html().replace(/\s*/g,''));
				$({val:start_quantity}).animate({val:end_quantity}, {
					duration: 500,
					easing: 'swing',
					step: function(val) {
						$('#popup-view-wrapper .pr_quantity').html(number_format(val, product_id));
					}
				});
			{% else %} 
				$('#popup-view-wrapper .pr_quantity').html(number_format(end_quantity, product_id));
			{% endif %} 
			
			{% if (points) %} 
				var end_quantity = json['points'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_quantity = parseFloat($('#popup-view-wrapper .pr_points').html().replace(/\s*/g,''));
					$({val:start_quantity}).animate({val:end_quantity}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .pr_points').html(number_format(val, product_id));
						}
					});
				{% else %} 
					$('#popup-view-wrapper .pr_points').html(number_format(end_quantity, product_id));
				{% endif %} 
			{% endif %} 
			
			{% if (model_status) %} 
				$('#popup-view-wrapper .pr_model').html(json['opt_model']);
			{% endif %} 
			
			{% if (weight_status) %} 
				var weight = json['weight'];
				{% if (revtheme_product_all['recalc_price_animate']) %} 
					var start_weight = parseFloat($('#popup-view-wrapper .pr_weight').attr('data-weight'));
					$({val:start_weight}).animate({val:weight}, {
						duration: 500,
						easing: 'swing',
						step: function(val) {
							$('#popup-view-wrapper .pr_weight').html(weight_format(val));
						}
					});
					$('#popup-view-wrapper .pr_weight').attr('data-weight', json['weight']);
				{% else %} 
					$('#popup-view-wrapper .pr_weight').html(weight_format(weight));
				{% endif %} 
			{% endif %} 
		  }
		});
	}
	function get_revpopup_cart_option (opt_id, option, quantity, product_id) {
		$('#popup-view-wrapper .options_buy .pro_'+option+' input[name=\'option['+opt_id+']\']').val(option);
		data = $('#popup-view-wrapper .product-info .options_buy .pro_'+option+' input[type=\'text\'], #popup-view-wrapper .product-info .options_buy .pro_'+option+' input[type=\'hidden\'], #popup-view-wrapper .product-info .options_buy .pro_'+option+' input[type=\'radio\']:checked, #popup-view-wrapper .product-info .options_buy .pro_'+option+' input[type=\'checkbox\']:checked, #popup-view-wrapper .product-info .options_buy .pro_'+option+' select, #popup-view-wrapper .product-info .options_buy .pro_'+option+' textarea');
		$.ajax({
			url: 'index.php?route=checkout/cart/add',
			type: 'post',
			data: data.serialize() + '&product_id=' + product_id + '&quantity=' + quantity,
			dataType: 'json',
			{% if (revtheme_header_cart['cart_vspl']) %} 
				beforeSend: function(){
					$('body').addClass('razmiv2');
					$('#pagefader2').fadeIn(70);
				},
			{% endif %} 
			success: function( json ) {
				$('.alert, .text-danger').remove();
				$('.form-group').removeClass('has-error');
				$('.success, .warning, .attention, information, .error').remove();
				if (json['error']) {
					$('body').removeClass('razmiv2');
					$('#pagefader2').fadeOut(70);
				}
				if ( json['success'] ) {
					{% if (revtheme_header_cart['cart_vspl']) %} 
						if (document.body.scrollHeight > document.body.offsetHeight) {
							$('#top3.absolutpo').css('right', '8.5px');
						}
						$.magnificPopup.open({
							removalDelay: 300,
							callbacks: {
								beforeOpen: function() {
								   this.st.mainClass = 'mfp-zoom-in';
								},
								close: function() {
									$('body').removeClass('razmiv2');
									$('#pagefader2').fadeOut(70);
									$('#top3.absolutpo').css('right', 'initial');
								}
							},
							tLoading: '',
							items: {
								src: 'index.php?route=revolution/revpopupcart',
								type: 'ajax'
							}
						});
					{% else %} 
						tmp_img = $('#popup-view-wrapper img.main-image')
						$(tmp_img)
							.clone()
							.css({'position' : 'absolute', 'z-index' : '2000', top: $('#popup-view-wrapper img.main-image').offset().top, left: $('#popup-view-wrapper img.main-image').offset().left})
							.appendTo("body")
							.animate({opacity: 0.3,
								left: $("#top3 #cart").offset()['left'],
								top: $("#top3 #cart").offset()['top']+15,
								width: 10}, 800, function() {
								$(this).remove();
							});
					{% endif %} 
					$('#top #cart-total').html(json['total']);
					$('#top3 #cart-total').html(json['total']);
					$('#top2 #cart-total').html(json['total']);
					$('#top #cart-total-popup').html(json['total']);
					$('#top3 #cart-total-popup').html(json['total']);
					$('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
			}
		});
	}
{% endif %} 
function price_format(n) {
	c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
    d = '{{ currency['decimal_point'] }}';
    t = '{{ currency['thousand_point'] }}';
    s_left = '{{ currency['symbol_left'] }}';
    s_right = '{{ currency['symbol_right'] }}';
    n = n * {{ currency['value'] }};
    i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
    j = ((j = i.length) > 3) ? j % 3 : 0; 
    return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
}
function weight_format(n, product_id) {
    c = 2;
    d = '.';
    t = ',';
    i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
    j = ((j = i.length) > 3) ? j % 3 : 0; 
    return (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');
}
function number_format(n, product_id) {
    i = parseInt(n = Math.abs(n).toFixed(0)) + ''; 
    return i;
}
//--></script>
</div>